
/*
================================================================================

  Variables

================================================================================
*/



/* Grid
------------------------------------ */

$pad-desktop: 2rem;
$pad-mobile: 1.5rem;



/* Fonts
------------------------------------ */

$montserrat-font-stack: 'Montserrat', sans-serif;



/* Colors
------------------------------------ */

$primary-color: #874792;
$bright-pink-color: #c09;

$bd-color: #959595;

$title-color: #2a2626;
$text-color: #343131;

$icon-color: $title-color;



/* Transitions
------------------------------------ */

$default-transition: all 200ms ease;
