  <!-- ==========================
    FOOTER
  =========================== -->
  <footer class="footer">

    <!-- Popular -->
    <div class="popular">
      <div class="popular__container">
        <div class="popular__section">
          <div class="popular__title">Popular Communities</div>

          <ul class="popular__list">
            <li class="popular__item">
              <a class="popular__link" href="#">Top Community Searches</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" href="#">Property for sale in JVC</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" href="#">JLT apartments for rent</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" href="#">Villas for sale in Palm Jumeirah</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" href="#">Apartment for rent in Business Bay</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" href="#">Apartments for rent in Dubai Marina</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" href="#">Property for rent in Downtown Dubai</a>
            </li>
          </ul>
        </div>

        <div class="popular__section">
          <div class="popular__title">Popular Searches</div>

          <ul class="popular__list">
            <li class="popular__item">
              <a class="popular__link" routerLink="/en/buy/dubai/apartments-for-sale-dubai-marina">Apartments for Sale in Dubai Marina</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" routerLink="/en/buy/dubai/properties-for-sale-jumeirah-village-circle">Property for sale in JVC</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" routerLink="/en/rent/dubai/apartments-for-rent-jumeirah-lake-towers">JLT apartments for rent</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" routerLink="/en/buy/dubai/villas-for-sale-palm-jumeirah">Villas for sale in Palm Jumeirah</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" routerLink="/en/rent/dubai/apartments-for-rent-business-bay">Apartment for rent in Business Bay</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" routerLink="/en/buy/dubai/1-bedroom-apartments-for-sale-dubai-marina">1 Bedroom Apartments for sale in Dubai Marina</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" routerLink="/en/rent/dubai/1-bedroom-apartments-for-rent-downtown-dubai">1 Bedroom Apartments for Rent in Downtown Dubai</a>
            </li>
          </ul>
        </div>

        <div class="popular__section">
          <div class="popular__title">Explore</div>

          <ul class="popular__list">
            <li class="popular__item">
              <a class="popular__link" href="#">About</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" routerLink="/search" [queryParams]="{listingType:'SALE', sort : searchStateService.sortBy}">Buy</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" routerLink="/search" [queryParams]="{listingType:'RENT', sort : searchStateService.sortBy }">Rent</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" href="#">Search agents</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" routerLink="/search" [queryParams]="{listingType:'RENT', rentalLength:'MONTHLY', sort : searchStateService.sortBy}">Short Term Rentals</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" routerLink="/search" [queryParams]="{listingType:'COMMERCIAL_RENT', sort : searchStateService.sortBy}">Commercial</a>
            </li>
          </ul>
        </div>

        <div class="popular__section">
          <div class="popular__title">Trending</div>

          <ul class="popular__list">
            <li class="popular__item">
              <a class="popular__link" href="#">Top Community Searches</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" href="#">Property for Sale in JVC</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" href="#">JLT apartments for Rent</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" href="#">Villas for Sale in Palm Jumeirah</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" href="#">Apartment for Rent in Business Bay</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" href="#">Apartments for Rent in Dubai Marina</a>
            </li>

            <li class="popular__item">
              <a class="popular__link" href="#">Property for Rent in Downtown Dubai</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Container -->
    <div class="footer__container">

      <!-- Navigation -->
      <nav class="footer-nav">
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#">About us</a>
          </li>

          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#">Terms & Conditions</a>
          </li>

          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#">Privacy Policy</a>
          </li>

          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#">Client Login</a>
          </li>

          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#">Careers</a>
          </li>

          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#">Advertise</a>
          </li>
        </ul>
      </nav>

      <!-- Actions -->
      <div class="footer__actions">

        <!-- Social -->
        <ul class="footer-social">
          <li class="footer-social__item">
            <a class="footer-social__link" href="#" aria-label="Facebook">
              <svg class="footer-social__icon footer-social__icon--facebook icon">
                <use xlink:href="#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social__item">
            <a class="footer-social__link" href="#" aria-label="Twitter">
              <svg class="footer-social__icon footer-social__icon--twitter icon">
                <use xlink:href="#icon-twitter"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social__item">
            <a class="footer-social__link" href="#" aria-label="Pinterest">
              <svg class="footer-social__icon footer-social__icon--pinterest icon">
                <use xlink:href="#icon-pinterest"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social__item">
            <a class="footer-social__link" href="#" aria-label="Linkedin">
              <svg class="footer-social__icon footer-social__icon--linkedin icon">
                <use xlink:href="#icon-linkedin"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social__item">
            <a class="footer-social__link" href="#" aria-label="YouTube">
              <svg class="footer-social__icon footer-social__icon--youtube icon">
                <use xlink:href="#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>

        <!-- Alerts -->
        <div class="footer-alerts">

          <!-- Title -->
          <div class="footer-alerts__title">Be the first to see new properties</div>

          <!-- Button -->
          <div class="footer-alerts__btn btn btn--sm btn--primary">Get property alerts</div>

        </div>

      </div>

      <!-- Copyright -->
      <div class="footer__copyright">
        <p>&copy; houhaa, 2020. All&nbsp;Rights&nbsp;Reserved.</p>
      </div>

    </div>

  </footer>
