
/*
================================================================================

  MQ Breakpoints settings

================================================================================
*/

@import 'sass-mq';

$mq-breakpoints: (
  mq1600px: 1600px,
  mq1280px: 1280px,
  mq1024px: 1024px,
  mq940px: 940px,
  mq768px: 768px,
  mq568px: 568px,
  mq480px: 480px,
  mq414px: 414px,
  mq375px: 375px
);
