/*for mobile*/
@media only screen and (max-width:760px) {
header {height: unset;}
.slider_section img {height:100%}
.container {padding-right: 15px; padding-left: 15px;}
.exchange_rate_ul li:first-child {display: none !important;}
.part01 {width: 100%;}
.part02 {width: 100%;}
.part03 {width: 100%;}
.part_50 {width: 100%;}
.login_bg_02 {display: none;}
.all_heading h2 {font-size: 30px;}
.all_heading {margin-bottom: 20px;}
.all_padding {padding: 30px 0px;}
.app_section {height: 100%;}
.app_img {width: 90px; position: unset; margin: auto; display: block;}
.app_padding {padding: 10px 0px;}
.trading_section {padding: 30px 0px;}
.footer_currency {display: none;}
.footer_copyright p {text-align: center; float: unset !important;}
.footer_facebook ul {text-align: center;}
.footer_facebook ul li { float: unset; padding: 0px 7px; display: inline-block;}
.Experience_box h2 {margin-bottom: 10px; margin-top: 0px;}
.exchange_rate_ul li {width: 32%; margin: 5px 0px;}
.logo {width: 60px;}
.mobile_view{display: block;}
.desktop_view{display: none;}
.graph_inner{margin:5px 0px;}
.exchange_rate_ul {text-align: left;}
.c_inner_padding {padding-top: 20px;}
.c_inner_padding h2 {font-size: 28px; margin-top: 20px;}
.c_inner_padding h1 {font-size: 24px;}
.c_inner_padding h1 span{font-size: 30px;}
.coming_btn {width: 100% !important; margin-top:30px !important} 

.switch {margin-left: 3px;}
.live_demo_circle {display: none;}
.exchange_text {padding: 23px 10px;}
.chatbox {width: 280px;}
.login_container {margin:0px;}
.login_padding {padding: 30px 30px;}
.rc-anchor-normal {width: 100%;}
.rc-anchor-light.rc-anchor-normal {width: 100%;}
.rc-anchor-logo-portrait {margin: 10px 0 0 0px;}
.rc-anchor-normal .rc-anchor-pt {right: 26px;}
.top_left_menu li:first-child{display: block;}
.top_left_menu li{display: none;}
.slider_text h2 {font-size: 20px; margin-bottom: 12px; font-weight: normal;}
.slider_img {padding: 40px 0px;}
.slider_text p {font-size: 16px; line-height: 21px; margin-bottom: 26px;}
.slider_img { min-height: 310px;}
.search_input_holder img {left: 15px;}
.app_section {padding: 40px 0px;}
.apptext_border {margin-top: 15px;}

}
/*for medium mobile*/
@media only screen and (min-width:480px) and (max-width:760px) {


}
/*for tablet*/
@media only screen and (min-width:760px) and (max-width:1000px) {

}

/*for destop*/
@media (min-width: 1200px){


 }




