@charset "utf-8";
/* CSS Document */
@import url('../css/bootstrap.min.css');
@import url('../css/menubar.css');
@import url('../css/font-awesome.css');

@import url('https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet');


*{margin:0px; padding:0px;}
a, a:active, a:focus {outline: none;}
body{overflow-x: hidden; font-family: 'Roboto', sans-serif !important; font-family: 'Oswald', sans-serif;}
#back-to-top {position: fixed; text-align: center; color: #fff; font-size: 19px; line-height: 41px; cursor: pointer; bottom: 65px; right: 3%; background: #fb7600; width: 45px; height: 45px; text-decoration: none;}
#back-to-top:hover{ background: #f6ae01;}
.introLoading {background: #fff; position: fixed;  top: 0; right: 0; bottom: 0; display: flex; left: 0;  overflow: hidden; z-index: 999999;}
.introLoading img {align-self: center; margin: 0 auto;}
.affix {top: 0px; left: 0px; right: 0px;z-index: 1111;position: fixed;}
.affix .logo_inner img {width: 181px;}
.affix .logo_inner {padding: 4px 0px;} 
.headerNews p{margin-bottom: 0px}
.banner_bg{background: url(../img/banner_bg.jpg)no-repeat center; position: relative; background-size: cover;}
.logo_section{width:100%; background: #000; height:50px;}
.logo_inner{background: url(../img/logo_inner_bg.png)no-repeat center; transition: all 1s ease; padding: 16px 0px; position: relative;}
.logo_inner img{margin: auto; display: block; transition: all 1s ease;}
.top_left_ul{list-style: none; overflow: hidden; margin: 0px;}
.top_left_ul li{float:left; padding: 15px 25px 15px 0px; font-weight: bold; font-size: 13px;}
.top_left_ul li:last-child{padding: 15px 0px 15px 0px;}
.top_left_ul li a{display: inline-block; color:#fff;}
.top_left_ul li a img{margin-top: -2px; margin-right: 5px;}
.top_right_ul{list-style: none; overflow: hidden; margin: 0px; text-align: right;}
.top_right_ul li{display: inline-block; padding: 15px 35px 15px 0px; font-weight: bold; font-size: 13px;}
.top_right_ul li:last-child{padding: 15px 0px 15px 0px;}
.top_right_ul li a{display: inline-block; color:#fff;}
.top_right_ul li a img{margin-top: -2px; margin-right: 5px;}
.top_right_ul li a img:hover{filter: brightness(0) invert(1);}
.login_menu{display: none !important;}
.menu_section{background: rgba(0,0,0,0.95);}
.headerNews p{margin-bottom: 0px;}
.banner_section{padding: 90px 0px; position: relative;}
.banner_container{max-width: 650px; margin: auto; color: #fff; text-align: center;}
.banner_container h3{text-transform: uppercase; margin: 0px;}
.banner_container h1{margin: 0px; font-family: 'Oswald', sans-serif; font-size: 43px;}
.banner_line{background: #fff; height: 3px; width:100px; margin: 20px auto;}
.banner_ul{list-style: none; overflow: hidden; text-align: center; margin-top: 40px;}
.banner_ul li{display: inline-block; }
.banner_ul li a{display: inline-block; margin: 5px 5px; width:180px; background: #fb7600; color:#fff; padding: 15px; font-size: 14px; font-weight: bold;}
.banner_ul li:last-child a{background: #fff; color:#fb7600;}
.banner_ul li a:hover{background: #fff; color:#fb7600; text-decoration: none;}
.banner_ul li:last-child a:hover{background: #fb7600; color:#fff; text-decoration: none;}
.banner_section .carousel {position: static;}
.banner_section .carousel-indicators li.active {width: 27px; height: 27px; background: #f6ae01; border-radius: 50%; border: 6px solid #fff;}
.banner_section .carousel-indicators li{width: 30px; height: 30px; background: transparent; border: 2px solid #fff; border-radius: 50%;}
.banner_bottom{background: rgba(0,0,0,0.90); padding:20px 0px;}
.banner_ex_border{float:left; margin-top: 8px; border: 2px solid #fb7600; border-radius: 50%; height: 60px; width: 60px; padding: 17px 13px; margin-right: 10px;}
.banner_ex_text{overflow: hidden;}
.banner_ex_text h3{color:#fb7600; margin-top:0px;  font-size: 20px; text-transform: uppercase; font-family: 'Oswald', sans-serif; border-bottom: 2px solid #fb7600; margin-bottom: 3px; padding-bottom: 5px;}
.banner_ex_text p{color:#7e837f; margin-bottom: 0px;}
.banner_bottom_hover{width:100%; cursor: pointer; overflow: hidden; margin: 5px 0px;}
.banner_bottom_hover:hover .banner_ex_text h3{color:#fff;  border-bottom: 2px solid #fff;}
.banner_bottom_hover:hover .banner_ex_border{border: 2px solid #f6ae01; background: #f6ae01;}
.banner_bottom_hover:hover .banner_ex_border img{filter: brightness(0) invert(1);}

.sm_about_section{width:100%; padding: 40px 0px;}
.heading_top h1{font-family: 'Oswald', sans-serif; text-transform: uppercase;}
.heading_top p{font-size: 19px; margin-top: 20px; color:#616468;}

.fastest_secure_section{background: url(../img/h010.jpg)no-repeat center; color:#fff; min-height: 550px; background-size: cover; padding: 40px 0px;}
.fastest_secure_section .heading_top img{filter: brightness(0) invert(1);}
.fastest_secure_section .heading_top p{color:#fff;}

.buy_sell_section{width:100%; padding-bottom: 50px; background: transparent; margin-top: -330px;}
.buy_sell_section hr{margin:15px;} 
.buy_sell_headingcolor .heading_top img{filter: brightness(0) invert(1);}
.buy_sell_headingcolor .heading_top p{color:#fff;}
.buy_sell_headingcolor .heading_top h1{color:#fff;}
.buy_sell_ul{list-style: none; overflow: hidden; margin-bottom: 90px;}
.buy_sell_ul li{float: left;}
.buy_sell_ul li a{display: inline-block; width:180px; border:2px solid #f6ae01; background: #f6ae01; color: #fff; font-size: 18px;margin: 10px 10px 10px 0px; text-align: center; padding: 7px;}
.buy_sell_ul li:last-child a{border:2px solid #fb7600; color:#fb7600; background: transparent;} 
.buy_sell_ul li a:hover{text-decoration: none; border:2px solid #fb7600; background: transparent;}
.buy_sell_ul li:last-child:hover a{background: #f6ae01; color:#fff; border:2px solid #f6ae01;}
.buy_now_btn{background: #fb7600; margin: 10px 0px; width: 180px; color: #fff; text-align: center; display: inline-block; padding: 15px; font-size: 18px;}
.buy_now_btn:hover{background: #f6ae01; text-decoration: none; color:#fff;}
.buy_sell_bg{background: #171717; overflow: hidden; margin:20px 0px; padding: 0px 20px;}
.buy_sell_hover{width:100%; overflow: hidden; margin: 20px 0px;}
.buy_sell_left{background: #fff; border:2px solid transparent; float: left; margin-right: 15px; width: 90px; height: 90px; padding: 18px 22px; text-align: center;}
.buy_sell_left img{width:100%;}
.buy_sell_right{overflow: hidden;}
.buy_sell_right h4{color:#fff; text-transform: uppercase; margin-top: 0px; font-family: 'Oswald', sans-serif;}
.buy_sell_right p{color:#fff;}
.buy_sell_hover:hover p{color:#fff;}
.buy_sell_hover:hover .buy_sell_left{background: transparent; border:2px solid #fff;}
.buy_sell_hover:hover .buy_sell_left img{filter: brightness(0) invert(1);}

.service_heading_bg{background: #606568; width:100%; height:60px;}
.service_heading{background: url(../img/services_bg.png)no-repeat center; padding: 28px 0px;}
.service_heading h1{color:#fff; margin:0px; text-align: center; font-family: 'Oswald', sans-serif; text-transform: uppercase;}

.phone_section{width:100%; padding-top:100px; background: url(../img/h016.png)no-repeat center; background-size: cover;}
.phone_container{max-width: 300px; margin:auto; position: relative;}
.phone_container .phone_img{width:100%;}

.phone_position_01{position: absolute; top: 90px; left: 240px;}
.phone_position_02{position: absolute; bottom: 130px; left: 240px;}
.phone_position_03{position: absolute; top: 210px; right: 240px;}

.phone_hover{width:500px;}
.phone_hover:hover .phone_left{background: #fb7600;}
.phone_hover:hover .phone_left img{filter: brightness(0) invert(1);}

.phone_left{border: 2px solid #fb7600; background: #fff; margin-right: 30px; float: left; border-radius: 100px 100px 100px 16%; height: 110px; transform: rotate(-133deg);  width: 110px; line-height: 50px; text-align: center; padding: 30px 30px}
.phone_left img{width:100%; transform: rotate(133deg);}
.phone_right{overflow: hidden;}
.phone_right h3{color:#000; font-size: 17px; margin-top:0px; font-family: 'Oswald', sans-serif; text-transform: uppercase;}
.phone_right_part .phone_right{float: left; width: 70%; text-align: right; margin-right: 30px;}

.phone_right_part .phone_left{transform: rotate(-312deg); margin: 0px;}
.get_started{background: #f6ae01; display: block; color:#fff; text-align: center; padding: 15px; font-size: 21px; text-transform: uppercase; font-weight: bold;}
.get_started:hover{background: #fb7600; color:#fff; text-decoration: none;}

.allcoin_section{background: url(../img/coin_bg.jpg)no-repeat center; padding:60px 0px; background-size: cover;}
.coin_hover{width:100%; color:#fff; overflow: hidden; margin: 20px 0px;}
.coin_left{height: 75px; width: 75px; border-radius: 50%; border: 2px solid #fff; padding: 17px 21px; text-align: center; float: left; margin-right: 10px;}
.coin_left img{width:28px;}
.coin_right{overflow: hidden;}
.coin_right h4{margin-bottom: 0px; text-transform: uppercase; font-size: 19px;}
.coin_right h3{margin-top: 5px; margin-bottom: 0px;}
.coin_hover:hover .coin_left{ border: 2px solid #fb7600; background: #fb7600;}

.contact_section{background: url(../img/footer_bg_img.png)no-repeat; background-size: cover;}
.contact_bg{background: rgba(6,6,6,0.98); color:#fff; width:100%; padding: 50px 0px; }
.contact_section .heading_top img {filter: brightness(0) invert(1);}
.contact_section .heading_top p {color: #fff;}
.contact_hover {width:100%; text-align: center; margin:70px 0px;}
.contact_hover h4{font-family: 'Oswald', sans-serif;}
.contact_hover p{font-size: 18px; font-style: italic;}
.contact_border{height: 95px; width: 95px; margin: auto; border: 2px solid transparent; border-radius: 50%; padding: 26px 17px;}
.contact_border img{filter: brightness(0) invert(1);}
.contact_hover:hover .contact_border{border: 2px solid #fb7600;} 
.contact_hover:hover img{filter:unset;}
.map_padding_right{padding-right: 20px;}
.map_padding_left{padding-left: 20px;}
.map_padding_right iframe{width:100%; height:490px;}
.map_text{background: #333; border:1px solid #5b5b5b; width: 100%; padding: 10px; margin-bottom: 30px; font-style: italic; font-size: 18px;}
.map_submit{background: #f6ae01; padding: 15px; width:100%; border:none; font-size: 18px;}

footer{width:100%; background: #000; padding:30px 0px;}
footer p{color:#fff; margin-top:30px; margin-bottom: 0px; font-style: italic;}
.footer_media{list-style: none; overflow: hidden; margin:0px;}
.footer_media li{float:left; padding-right: 10px}
.footer_media li a{display: inline-block;}
.footer_media li a img{filter: brightness(0) invert(1);}
.footer_media li a img:hover{filter:unset;}
.footer_logo{float: right;}
.footer_menu{list-style: none; margin-top: 16px; overflow: hidden; margin-bottom: 0px; text-align: right}
.footer_menu li{display: inline-block; background: url(../img/menu_line.png)no-repeat right center; font-size: 17px; font-style: italic;}
.footer_menu li:last-child{background: none;}
.footer_menu li a{display: inline-block; color:#fff; padding: 0px 12px;}

.login_section{width: 100%; padding:100px 0px;}
.loginbg_img{background: url(../img/loginbg_img.jpg)no-repeat center; background-size: cover; background-attachment: fixed;}
.login_container{max-width: 500px; margin: auto; border: 2px solid #fff; padding: 20px 0px; border-bottom: none !important;}
.login_heading{color:#fff; text-align: center; font-size: 40px; font-family: 'Oswald', sans-serif;  text-shadow: 0px 4px 4px #000;}
.login_img{background: url(../img/loginbg_img02.jpg)no-repeat center; position: relative; background-size: cover;}
.login_input_section{max-width: 500px; margin: auto; padding: 40px 20px; border-left:2px solid #fff; border-right:2px solid #fff;}
.login_input{width:100%; color: #000; background: #fff; border: none; padding: 13px 25px; border-radius: 41px; margin-bottom: 10px;}
.login_submit{background: #111; color: #fff; font-size: 23px; font-family: 'Oswald', sans-serif;  border: none; width: 192px;  padding: 7px; border-radius: 33px; margin: auto;  display: block;}
.login_submit:hover{background: #f6ae01;}
.login_btm_section{max-width: 500px; color: #fff; font-size: 18px; margin: auto; border: 2px solid #fff; padding: 20px 20px; border-top: none !important;}
.login_btm_section p a{color:#fff;}
.login_btm_section h4 a{color:#f6ae01; margin-left: 5px;}
.login_btm_section p{margin-bottom: 5px;}
.login_leftpart{width:250px; float:left;}
.login_leftpart{width: 304px; float: left; background: rgba(255,255,255,0.60); position: absolute; top: 0px; bottom: 0px;  left: 0px;}
.login_rightpart{width: 304px; float: left; background: rgba(255,255,255,0.60); position: absolute; top: 0px; bottom: 0px;  right: 0px;}

.exchange_bg{background: url(../img/exchange-cryptopay-001.jpg)no-repeat center; position: relative; background-size: cover; }
.wallet_section{width:100%; padding:20px 0px; }
.wallet_section h3{color: #fff; text-align: center; text-transform: uppercase; font-size: 20px; }
.wallet_section h1{color: #fff; text-align: center; text-transform: uppercase; font-size: 40px; font-family: 'Oswald', sans-serif; margin-bottom: 25px; }


.security_section{background: url(../img/cryptopay-wallet-003.jpg)no-repeat center; background-size: cover; padding:50px 0px; color:#fff; }
.security_text{color: #fff; text-align: center; text-transform: uppercase; font-size: 40px; font-family: 'Oswald', sans-serif; }
.security_img{filter: brightness(0) invert(1); margin:auto; display:block; }
.security_para{font-size: 20px; margin-top: 20px; color: #fff; text-align:center; border-bottom: 1px solid #fff; padding-bottom: 15px; }
.security_divide{width:100%; color:#fff; padding:10px 0px; }
.image_border{border: 1px solid #fff; width: 100%; }
.security_divide h1{margin: 0px; color: #fff;  text-align: left; text-transform: uppercase; font-size: 40px; font-family: 'Oswald', sans-serif;}
.security_divider_img{filter: brightness(0) invert(1); }
.security_divide p{font-size: 19px; margin-top: 20px; color: #fff; text-align:left; }


.secure_section{background:#fff;  width:100%; padding:30px 0px;}
.secure_section .security_text { color: #151515;}
.secure_section .security_img {filter:unset; }
.secure_section .security_para {color:#7e837f; border-bottom: 1px solid #7e837f; }
.secure_section .security_divide {color:#000; padding:10px 0px;  }
.secure_section .security_divide h1{color:#151515; text-align:right; }
.secure_section .security_divider_img{filter:unset; float:right; padding: 4px 0px; }
.secure_section .security_divide p{color:#7e837f; text-align:right; }

.transaction_section{background: url(../img/cryptopay-wallet-006.jpg)no-repeat center; background-size: cover; padding:50px 0px; color:#fff; }

.blockchain_section{background: url(../img/crypto-pay-040.png)no-repeat center; background-size: cover; padding:50px 0px; }

.benefits_section{background: url(../img/cryptopay-wallet-010.jpg)no-repeat center; background-size: cover; padding:50px 0px; }


.wallet_bg{background: url(../img/cryptopay-wallet-001.jpg)no-repeat center; position: relative; background-size: cover; }
.wallet_section{width:100%; padding:20px 0px; }
.wallet_section h3{color: #fff; text-align: center; text-transform: uppercase; font-size: 20px; }
.wallet_section h1{color: #fff; text-align: center; text-transform: uppercase; font-size: 40px; font-family: 'Oswald', sans-serif; margin-bottom: 25px; }


.price_section{width:100%; padding:50px 0px; background:#fff; color:#000; }

.price_bg{background: #171717; width: 100%; color:#151515;  }
.price_bg ul{list-style:none; }
.price_bg ul li{padding: 11.5px 10px; border-bottom: 1px solid #fff; border-left: 4px solid #6b6b6b; }
.price_bg ul li span{font-size: 16px; color: #fff; }
.price_bg ul li p{font-size: 14px; color: #eca701 ; margin: 0px; }
.price_bg ul li:hover{background:#eca701; color:#fff;  border:transparent; }
.price_bg ul li:hover p{color:#fff;  }
.price_bg ul li .para_color{color:#e70b0b; }


.graph_section{background: url(../img/exchange-cryptopay-002.jpg)no-repeat center; background-size: cover; width:100%; padding:60px 0px; }
.graph_bg{ background:#fb7d0d; padding: 10px; }
.graph_bg h1{margin: 0px; color: #fff; font-size: 34px; display: inline-block; font-family: 'Oswald', sans-serif;font-size: 30px; }

.graph_bg h2{margin: 0px; color: #fff; font-size: 30px; display: block; font-family: 'Oswald', sans-serif; }
.graph_bg span {color: #fff;float: right;font-size: 18px;padding: 9px 0px 0px 0px;font-family: 'Oswald', sans-serif;}
.graph_lowest{width:100%; background: #171717; padding: 10px; margin-top: 8px; color: #151515; }
.graph_lowest h2{color: #fff; overflow: hidden; font-size: 13px; font-weight: bold; }
.graph_lowest h2 span{ padding-top: 0px; float:right;margin-right: 5px;}
.graph_input{width:100%; background:#fff; padding:10px; }
.input_price{width: 100%; padding: 5px 70px 5px 5px; border: 1px solid #e5e5e5; font-size: 17px; }
.graph_input a{width: 100%;  padding: 0px;  display: block; text-align: center;  color: #e41f1f; text-decoration: none; }


.input_releative{position: relative; margin-bottom: 15px;}
.input_absolute{position: absolute; top: 0px; bottom: 0px; background: #e2efe8; padding: 10px 15px; right: 0px; width: 60px; text-align: center; }
.tool_para{margin-top:8px; display: inline-block; margin-bottom: 5px;}
.tool_para .fa{color: #337ab7; margin-left: 6px;}
.table_header{width:100%; margin: 0px;}
.table_header thead tr th{background: #151515; border-bottom: none; color: #fff; padding: 7px 5px;}
.mCustomScrollbar .table > tbody > tr > td{border: 1px solid #ddd; padding: 7px 5px; font-size: 12px; word-wrap: break-word;}


.trade_history_section{width:100%; padding:40px 0px;}
.trade_history_section .graph_input {background: #e2efe8;}
.market_data, .sell_order, .buy_order, .market_trade{padding:0px; background: #f3f3f3;}
.graph_padding{padding: 0px 6px; background:#fff;  }
.graph_background{background: url(../img/pattern.png)no-repeat center; background-size: cover; padding:70px 0px; }



.faq_section h1{padding-bottom:20px;  font-family: 'Oswald', sans-serif; color:#151515; text-align: center; text-transform: uppercase; font-size: 42px; margin: 0px; }
.faq_section p{text-align: center; font-size: 15px; color: #7e837f; }

.faq_section {width: 100%; padding-bottom: 0px; padding:50px 0px; }
.faq_section h2{color: #fff; text-align:center; text-transform:uppercase; font-family: 'Oswald', sans-serif; font-size:32px; }
.accordion_border {overflow: hidden; }

.accordion_head {border-bottom: 1px solid #fff; text-align: center; text-transform: uppercase; border-left: 4px solid #cac2ba; font-family: 'Oswald', serif; overflow: hidden; background: #e6e1dc; color: #171717; cursor: pointer; font-size: 32px; padding: 16px 16px; }
.accordion_body {border-bottom: 2px solid #fff; background: #eca701; border-left: 4px solid #171717; padding: 10px 50px; }
.accordion_body p{color:#fff; }
.plusminus{margin-top:7px; float:right; color:#fff;   height: 35px; width: 35px; background: #c0bcb8; border-radius: 50px; text-align: center; padding: 0px; font-size:22px; }

.inner_btn{background: #151515; border: none;  width: 115px; text-transform: uppercase; padding: 5px 10px; color: #fff; float: left; margin: 5px;}
.inner_btn:hover{background: #eca701;}
table tbody tr td {line-height: 20px !important;}
.top_heading{text-align: center; margin-top: 0px; margin-bottom: 35px;}
.modal_body{width:100%; padding: 30px 30px;}
.modal_header{background: #eca701; padding: 14px 30px; height: 65px; font-size: 25px; color: #fff;}
.modal-content{border-radius: 0px; position: relative;}
.modal_image_border{height: 80px; width: 80px; border-radius: 50%;  text-align: center;  margin: 50px auto;}
.modal_image_border img{width:100%;}
.modal_body h2{margin: 0px; position: absolute; top: 15px; color: #fff;}
.modal_body figcaption{word-wrap: break-word;}



.bg_white p{color:#a3a3a3; margin-bottom: 5px;}
.student_input_area{background: #f8f8f8; border:1px solid #ccc; padding: 20px 23px;  margin: 22px 0px;}
.student_input_area .area_input{border: 2px solid #e1e1e1; background: transparent; width: 100%; padding: 10px; margin: 8px 0px;}
.student_input_area .area_input:active{outline: none;}
.student_input_area .area_input:focus{outline: none;}
.save_input{background: #151515; box-shadow: 0px 0px 4px 2px #ccc; color: #fff; border: none; display: block; width: 200px; margin: auto; padding: 7px; font-size: 17px; border-radius: 3px;}
.save_input:hover{background: #eca701;}
.cancel_input{text-transform: uppercase; color: #eca701; margin: 10px 0px; display: block;cursor: pointer;}
.italic_para{font-style: italic; margin-top: 20px;}
.model_close{position: absolute; top: 0px; right: 20px; color: #fff; z-index: 11; border: none; padding: 14px 0px; font-size: 17px; background: none;}
.top_heading{text-align: center; margin-top: 0px; margin-bottom: 35px;}
.myprofie_section{width:100%; padding:30px 20px; background: #f3f3f3; border: 1px solid #ccc; border-top: none;}
.padding_position{padding:0px 10px;}
.user_icon{width:100px; height:100px; margin: auto; display: block; border-radius: 50%;}
.user_name{font-weight: bold; text-align:center; color: #000;}
.user_email{text-align: center;}

.myprofie_section .btn-file {background: #151515; cursor: pointer; margin: 20px 0px; display: block; text-align: center; padding: 11px; color: #fff; font-weight: bold; position: relative; overflow: hidden;}
.myprofie_section .btn-file:hover{background: #eca701;}
.btn-file input[type=file] {position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 100px; text-align: right;  filter: alpha(opacity=0);  opacity: 0;  outline: none;  background: white;  cursor: inherit; display: block;}
.userinput_text{width:100%; padding: 10px; border: 1px solid #ddd;}
.myprofie_section .no_img{width: 60px; float: right;}
.myprofie_section .checkbox{border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 10px 0px;}
.myprofie_section .checkbox label{font-weight: bold;}
.referal_code {text-align: center; color: #000; word-wrap: break-word;}
.tab_heading{color: #fff; background-color: #fb7d0d; border-color: #fb7d0d; padding: 10px 10px 0px 10px;}
.panel-body{background: #fff;}
.nav-tabs {border-bottom: 1px solid transparent;;}
.nav-tabs > li > a {color:#fff; font-size: 16px;}
.nav > li > a:focus, .nav > li > a:hover {background-color: #151515; color: #fff;}
.nav-tabs > li > a:hover {border-color: #fb7d0d #fb7d0d #fff;}
.chang_pass_section{max-width: 700px; margin:auto;}
input:focus{outline:none;}
button:focus{outline:none;} 
.all_error_message{margin-top: 10px; display: inline-block; color: #fb0606; position: relative;  background: #ecd3d1; padding: 7px 20px}
.all_error_message::after {content: "";  position: absolute;  width: 0;  height: 0; border: 15px solid transparent; border-bottom-color: transparent;  border-bottom-color: #ecd3d1; top: -29px; left: 20px;}
.login_input_section .all_error_message {border-radius: 25px; margin-top: 3px;}


table{width:100%}
.scroll_table tbody {display:block; height:310px;  overflow:auto;}
.scroll_table thead{display:table; width:100%; table-layout:fixed;}
.scroll_table tbody tr {display:table; width:100%; table-layout:fixed;}
.scroll_table tbody tr.buy {background: #c3f8b8;}
.scroll_table tbody tr.sell {background: #f8b8b8;}

.sign_button a{display: inline-block; box-shadow: 0px 0px 4px 2px #ccc;  background: #fb7600; color:#fff; padding: 8px; font-size: 14px; font-weight: bold;}
.sign_button a:hover{ background: #f6ae01;}


.alert_banner{background: url(../img/404_banner.jpg)no-repeat; background-size: cover;}
.alert_bg{width:100%; padding:55px 0px; color:#fff;}
.alert_bg img{margin:auto; display:block; }
.alert_bg h1{text-align:center; padding: 20px 0px; }
.alert_bg h3{text-align:center; padding: 10px 0px; }
.alert_bg a{margin: auto; display: block; text-align: center; text-transform: uppercase; color: #fff; padding: 14px 0px; font-size: 24px; background: #d96703; width: 270px; border-radius: 11px; text-decoration: none; }
.alert_bg a:hover{color:#d96703; background:#fff; }

.graph_input .text-muted{margin: 0px; padding: 15px;}

.kycstatus_text{display: block;border: 1px solid #ddd;font-size: 29px;text-align: center;}
.kycstatus_text .warning{color: #ff5722;}
.kycstatus_text .info{color: #11a5ff;}

.joining_link{text-align:center; }
.refferel_margin{margin:0px; color: #237406;}
.list-group {margin-bottom: 0px;}







