<div>
  <div class="post">
    <div class="post-thumbnail"><img src="assets/images/post-4.jpg" alt="Blog Featured Image" /></div>
    <div class="post-header font-alt">
      <h1 class="post-title">Our trip to the Alps</h1>
      <div class="post-meta">By&nbsp;<a href="#">Mark Stone</a>| 23 November | 3 Comments | <a href="#">Photography,
        </a><a href="#">Web Design</a>
      </div>
    </div>
    <div class="post-entry">
      <p>The European languages are members of the same family. Their separate existence is a myth. For
        science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their
        grammar, their pronunciation and their most common words.</p>
      <p>Everyone realizes why a new common language would be desirable: one could refuse to pay expensive
        translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more
        common words.</p>
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </blockquote>
      <p>If several languages coalesce, the grammar of the resulting language is more simple and regular
        than that of the individual languages. The new common language will be more simple and regular than
        the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental.
      </p>
      <ul>
        <li>The European languages are members of the same family.</li>
        <li>Their separate existence is a myth.</li>
        <li>For science, music, sport, etc, Europe uses the same vocabulary.</li>
      </ul>
      <p>The European languages are members of the same family. Their separate existence is a myth. For
        science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their
        grammar, their pronunciation and their most common words.</p>
    </div>
  </div>
  <div class="comments">

    <h4 class="comment-title font-alt">There are 3 comments</h4>

    <div class="comment clearfix">
      <div class="comment-avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/ryanbattles/128.jpg"
          alt="avatar" /></div>
      <div class="comment-content clearfix">
        <div class="comment-author font-alt"><a href="#">John Doe</a></div>
        <div class="comment-body">
          <p>The European languages are members of the same family. Their separate existence is a myth. For
            science, music, sport, etc, Europe uses the same vocabulary. The European languages are members
            of the same family. Their separate existence is a myth.</p>
        </div>
        <div class="comment-meta font-alt">Today, 14:55 - <a href="#">Reply</a>
        </div>
      </div>

      <div class="comment clearfix">
        <div class="comment-avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/draganbabic/128.jpg"
            alt="avatar" /></div>
        <div class="comment-content clearfix">
          <div class="comment-author font-alt"><a href="#">Mark Stone</a></div>
          <div class="comment-body">
            <p>Europe uses the same vocabulary. The European languages are members of the same family. Their
              separate existence is a myth.</p>
          </div>
          <div class="comment-meta font-alt">Today, 15:34 - <a href="#">Reply</a>
          </div>
        </div>
      </div>
    </div>

    <div class="comment clearfix">
      <div class="comment-avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg"
          alt="avatar" /></div>
      <div class="comment-content clearfix">
        <div class="comment-author font-alt"><a href="#">Andy</a></div>
        <div class="comment-body">
          <p>The European languages are members of the same family. Their separate existence is a myth. For
            science, music, sport, etc, Europe uses the same vocabulary. The European languages are members
            of the same family. Their separate existence is a myth.</p>
        </div>
        <div class="comment-meta font-alt">Today, 14:59 - <a href="#">Reply</a>
        </div>
      </div>
    </div>
  </div>

  <div class="comment-form">
    <h4 class="comment-form-title font-alt">Add your comment</h4>
    <form class="form" [formGroup]="newCommentForm">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" formControlName="username" type="text" name="name" placeholder="Name" />
        <div class="input-err" *ngIf="isControlHasError('username','required')">
          <strong>Name is required</strong>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" formControlName="email" type="text" name="email" placeholder="E-mail" />
        <div class="input-err" *ngIf="isControlHasError('email','required')">
          <strong>Email is required</strong>
        </div>
        <div class="input-err" *ngIf="isControlHasError('email','email')">
          <strong>Email is invalid</strong>
        </div>
      </div>
      <div class="form-group">
        <label>Comment</label>
        <textarea class="form-control" formControlName="comment" name="comment" rows="4"
          placeholder="Comment"></textarea>
        <div class="input-err" *ngIf="isControlHasError('comment','required')">
          <strong>Comment is required</strong>
        </div>
      </div>
      <button class="btn btn-round btn-d" type="submit" (click)="submit()">Post comment</button>
    </form>
  </div>
</div>
