<div class="main">
  <app-image-background [moduleTitle]="'Portfolio Single'"
    [moduleSubTitle]="'A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.'"
    [backgroundImage]="'assets/images/portfolio/portfolio_header_bg.jpg'">
  </app-image-background>

  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-12"><img src="assets/images/section-1.jpg" alt="Title of Image" /></div>
      </div>

      <hr class="divider-w mt-60 mb-60">
      <div class="row multi-columns-row">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="work-details">
            <h5 class="work-details-title font-alt">Project Details</h5>
            <p></p>
            <ul>
              <li><strong>Client: </strong><span class="font-serif"><a href="#" target="_blank">SomeCompany</a></span>
              </li>
              <li><strong>Date: </strong><span class="font-serif"><a href="#" target="_blank">23 November,
                    2015</a></span>
              </li>
              <li><strong>Online: </strong><span class="font-serif"><a href="#"
                    target="_blank">www.example.com</a></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone
            realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
          <p>Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone
            realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
        </div>
      </div>
    </div>
  </section>
  <hr class="divider-w">

  <app-relative-items></app-relative-items>
</div>
