<div class="main">

  <!-- <app-image-background [moduleTitle]="'Portfolio Single'"
    [moduleSubTitle]="'A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.'"
    [backgroundImage]="'assets/images/portfolio/portfolio_header_bg.jpg'">
  </app-image-background> -->

  <section class="module" style="padding: 100px 0;">
    <div class="container">
      <h2>Title</h2>

      <div class="row">
        <div class="col-sm-8">
          <div class="post-images-slider">
            <ul class="slides">
              <li><img class="center-block" src="assets/images/work-1.jpg" alt="Slider Image" /></li>
              <!-- <li><img class="center-block" src="assets/images/work-2.jpg" alt="Slider Image" /></li>
              <li><img class="center-block" src="assets/images/work-4.jpg" alt="Slider Image" /></li> -->
            </ul>
          </div>
        </div>
        <div class="col-sm-4 sidebar">
          <div class="widget">
            <div class="alt-features-item" style="margin-top: 0px; margin-bottom: 20px;">
              <!-- <div class="alt-features-icon"><span class="icon-tools-2"></span></div> -->
              <h3 class="alt-features-title font-alt">Development</h3>
              A wonderful serenity has taken possession of my
              entire soul like these sweet mornings.
              A wonderful serenity has taken possession of my
              entire soul like these sweet mornings.
              A wonderful serenity has taken possession of my
              entire soul like these sweet mornings.
            </div>

            <div class="alt-features-item" style="margin-top: 0px;">
              <!-- <div class="alt-features-icon"><span class="icon-tools-2"></span></div> -->
              <h3 class="alt-features-title font-alt">Development</h3>A wonderful serenity has taken possession of my
              entire soul like these sweet mornings.
            </div>

          </div>
        </div>
      </div>

      <div class="row multi-columns-row">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="work-details">
            <h5 class="work-details-title font-alt">Project Details</h5>
            <p></p>
            <ul>
              <li><strong>Client: </strong><span class="font-serif"><a href="#" target="_blank">SomeCompany</a></span>
              </li>
              <li><strong>Date: </strong><span class="font-serif"><a href="#" target="_blank">23 November,
                    2015</a></span>
              </li>
              <li><strong>Online: </strong><span class="font-serif"><a href="#"
                    target="_blank">www.example.com</a></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone
            realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
          <p>Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone
            realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
        </div>
      </div>
    </div>
  </section>

  <hr class="divider-w">
  <section class="module" style="padding: 50px 0">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Layouts contain these Items</h2>
        </div>
      </div>
      <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">

        <li class="work-item illustration webdesign">
          <a href="portfolio_single_featured_slider2.html">
            <div class="work-image"><img src="assets/images/portfolio/grid-portfolio1.jpg" alt="Portfolio Item" />
            </div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Corporate Identity</h3>
              <div class="work-descr">Illustration</div>
            </div>
          </a>
        </li>

        <li class="work-item marketing webdesign"><a href="portfolio_single_featured_video1.html">
            <div class="work-image"><img src="assets/images/portfolio/grid-portfolio6.jpg" alt="Portfolio Item" />
            </div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Paper clip</h3>
              <div class="work-descr">Marketing</div>
            </div>
          </a></li>
        <li class="work-item illustration webdesign"><a href="portfolio_single_featured_image2.html">
            <div class="work-image"><img src="assets/images/portfolio/grid-portfolio8.jpg" alt="Portfolio Item" />
            </div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Branding</h3>
              <div class="work-descr">Illustration</div>
            </div>
          </a></li>
      </ul>
    </div>
  </section>
</div>
