<div class="main">
  <app-image-background [moduleTitle]="'Portfolio Single'"
    [moduleSubTitle]="'A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.'"
    [backgroundImage]="'assets/images/portfolio/portfolio_header_bg.jpg'">
  </app-image-background>

  <section class="module" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="module-title font-alt">Create My Layout</h2>
          <div class="module-subtitle font-serif"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

          <form class="form" [formGroup]="newLayoutForm">
            <label>Layout Type</label>
            <div class="form-group">
              <ng-multiselect-dropdown
                name="layoutType"
                [placeholder]="'Select Layout Type'"
                [data]="layoutTypeList"
                formControlName="layoutType"
                [disabled]="disabled"
                [settings]="layoutDropdownSettings"
                (onSelect)="onItemSelect($event)">
              </ng-multiselect-dropdown>
              <div class="input-err" *ngIf="isControlHasError('layoutType','required')">
                <strong>Layout Type is required</strong>
              </div>
            </div>

            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" 
                formControlName="description"
                rows="7"
                name="message" 
                placeholder="Description"
                data-validation-required-message="Please enter your message.">
              </textarea>
              <div class="input-err" *ngIf="isControlHasError('description','required')">
                <strong>Description Type is required</strong>
              </div>
            </div>

            <div class="form-group">
              <label>Used Items</label>
              <ng-multiselect-dropdown 
                formControlName="usedItems"
                [placeholder]="'Used Items'" 
                [data]="usedItemsList"
                [settings]="usedItemsDropDownSettings"
                (onSelect)="onItemSelect($event)"
              >
              </ng-multiselect-dropdown>
              <div class="input-err" *ngIf="isControlHasError('usedItems','required')">
                <strong>Used Items is required</strong>
              </div>
            </div>

            <div class="form-group">
              <label>Images</label>
              <!-- <input type="file" accept="image/*" (change)="onFileChange($event, 'layoutImages')"/> -->
              <input type="file" accept="image/*" (change)="showPreview($event)" />
              <!-- Image Preview -->
              <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                <img style="max-height: 300px;" [src]="imageURL? imageURL: 'assets/images/rp-1.jpg'" [alt]="newLayoutForm.value.layoutImages">
              </div>
              <div class="input-err" *ngIf="isControlHasError('layoutImages','required')">
                <strong>Images is required</strong>
              </div>
            </div>

            <div class="text-center">
              <button class="btn btn-block btn-round btn-d" (click)="submit()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</div>
