.flagstrap {
    display: inline-block;
    position: relative;
    width: 100%;
}

.flagstrap-icon {
    display: inline-block;
    width: 20px;
    height: 11px;

    background: url(../images/flags.png) no-repeat
}

.flagstrap-placeholder,
.flagstrap-placeholder i {
  display: none
}

.flagstrap-icon.flagstrap-ja {
    background-position: -21px 0;
}
.flagstrap-icon.flagstrap-pt {
    background-position: -41px 0;
}
.flagstrap-icon.flagstrap-es {
    background-position: -64px 0;
}

