
/*
================================================================================

  Grid related mixins

================================================================================
*/



/* Padding
------------------------------------ */

@mixin padding {
  padding-left: $pad-desktop;
  padding-right: $pad-desktop;


  // Until 375px
  @include mq($until: mq375px) {
    padding-left: $pad-mobile;
    padding-right: $pad-mobile;
  }
}


/* Container
------------------------------------ */

@mixin container {
  @include padding;
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
}



/* No shrink
------------------------------------ */

@mixin no-shrink {
  flex-shrink: 0;
  width: 100%;
}
