<div class="module-small bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="widget">
          <h5 class="widget-title font-alt">About Us</h5>
          <p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
          <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10
          <p>Email:<a href="#">somecompany@example.com</a></p>
        </div>
      </div>
      <div class="col-sm-2 col-half-offset">
        <div class="widget">
          <h5 class="widget-title font-alt">Recent Comments</h5>
          <ul class="icon-list">
            <li *ngFor="let comment of recentComments">{{comment.username}} on <a
                [href]="comment.link">{{comment.postname}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 col-half-offset">
        <div class="widget">
          <h5 class="widget-title font-alt">Blog Categories</h5>
          <ul class="icon-list">
            <li *ngFor="let category of blogCategories"><a [href]="category.link">{{ category.categoryName }}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 col-half-offset">
        <div class="widget">
          <h5 class="widget-title font-alt">Popular Posts</h5>
          <ul class="widget-posts">
            <li class="clearfix" *ngFor="let post of popularPosts">
              <div class="widget-posts-image"><a [href]="post.link"><img [src]="post.image" alt="Post Thumbnail" /></a>
              </div>
              <div class="widget-posts-body">
                <div class="widget-posts-title"><a [href]="post.titleLink">{{ post.title }}</a></div>
                <div class="widget-posts-meta">{{ post.meta }}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 col-half-offset">
        <div class="widget">
          <h5 class="widget-title font-alt">Social</h5>
          <ul class="widget-posts">
            <li *ngFor="let social of socialData"><a [href]="social.link">{{ social.name }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="divider-d">
<footer class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="copyright font-alt" style="float: left; margin-right: 20px"><a href="#">Privacy Policy</a></p>
        <p class="copyright font-alt"><a href="#">Terms & Condit</a></p>
      </div>
      <div class="col-sm-6 float-right" style="float: right; text-align: right;">
        <p class="copyright font-alt">&copy; 2020&nbsp;<a href="#">Company Name</a>, All Rights Reserved</p>
        <!-- <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
              class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i
              class="fa fa-skype"></i></a>
        </div> -->
      </div>
    </div>
  </div>
</footer>
