
/*
================================================================================

  Header

================================================================================
*/

.header {
  @include no-shrink;
  position: relative;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.7rem rgba(#000, 0.18);

  &__container {
    @include container;
    display: flex;
    align-items: center;
    height: 6.6rem;
  }

  &__logo {
    text-decoration: none;


    // Icon
    svg {
      width: 11.7rem;
      height: 4rem;
    }
  }

  &__profile-link {
    text-decoration: none;

    &:hover {

      // Icon
      svg {
        fill: $primary-color;
      }
    }


    // Icon
    svg {
      width: 2.4rem;
      height: 2.4rem;
      fill: $icon-color;
      transition: $default-transition;
    }
  }

  &__hamburger-btn {
    display: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    cursor: pointer;


    // Icon
    svg {
      width: 2.4rem;
      height: 1.6rem;
      fill: $icon-color;
    }
  }
}






/* NAVIGATION
============================================================ */

.nav {
  margin-left: auto;
  margin-right: 2.6rem;

  &__container {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }

  &__item {
    margin-right: 2.6rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $text-color;
    font-size: 1.4rem;
    line-height: (18/14);
    text-decoration: none;
    transition: $default-transition;

    &:hover {
      color: $primary-color;
    }
  }

  &__close-btn {
    position: absolute;
    top: 2.1rem;
    right: $pad-desktop;
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 2.4rem;
    height: 2.4rem;
    background-color: transparent;
    border: 0.2rem solid $icon-color;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;


    // Icon
    & > .icon {
      width: 1rem;
      height: 1rem;
      fill: $icon-color;
    }
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 1600px
@include mq($until: mq1600px) {

  .header {

    &__container {
      max-width: none;
    }
  }

}


// Until 940px
@include mq($until: mq940px) {

  // Navigation
  .nav {

    &__item {
      margin-right: 2rem;
    }
  }

}


// Until 768px
@include mq($until: mq768px) {

  // Header
  .header {

    &__profile-link {
      margin-left: auto;
      margin-right: 2.4rem;
    }

    &__hamburger-btn {
      display: block;
    }
  }

  // Navigation
  .nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(calc(100% + 2rem));
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 80%;
    max-width: 30rem;
    background-color: #fff;
    box-shadow: 0 0.2rem 1.6rem rgba(#000, 0.5);


    // Open state
    &.js-open {
      transform: translateX(0);
      transition: all 300ms ease;
    }


    &__container {
      flex-direction: column;
      align-items: flex-start;
      margin-left: auto;
      margin-right: auto;
      max-width: 20rem;
    }

    &__item {
      margin-right: 0;
      width: 100%;
    }

    &__link {
      display: block;
      padding-top: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid lighten($bd-color, 25%);
      font-size: 1.6rem;
      font-weight: 500;
      text-align: center;
    }

    &__close-btn {
      display: inline-flex;
    }
  }

}


// Until 375px
@include mq($until: mq375px) {

  // Header
  .header {

    &__profile-link {
      margin-right: 2rem;
    }
  }

  // Navigation
  .nav {

    &__link {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    &__close-btn {
      right: $pad-mobile;
    }
  }

}
