
/*
================================================================================

  "Detail" page

================================================================================
*/






/* META
============================================================ */

.detail-meta {
  @include container;
  display: flex;
  align-items: center;
  padding-top: 3.4rem;
  padding-bottom: 2rem;

  &__back-link {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    color: $text-color;
    font-size: 1.3rem;
    line-height: (18/13);
    text-decoration: none;

    &:hover {

      // Icon
      & > .icon {
        fill: $primary-color;
      }

      // Text
      & > .text {
        color: $primary-color;
      }
    }


    // Icon
    & > .icon {
      margin-right: 0.6rem;
      width: 0.8rem;
      height: 1.2rem;
      fill: $text-color;
      transition: $default-transition;
    }

    // Text
    & > .text {
      transition: $default-transition;
    }
  }

  &__date {
    margin-left: auto;
    font-size: 1.3rem;
    line-height: (18/13);
  }
}






/* PHOTOS
============================================================ */

.detail-photos {
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 144rem;

  &__slider {


    // Wrapper
    .swiper-wrapper {
      // Prevents slide item's shadow from cutting
      padding-top: 2.4rem;
      padding-bottom: 2.4rem;
    }

    // Slide
    .swiper-slide {
      width: 77rem;
      height: 48.6rem;


      // Active state
      &.swiper-slide-active {

        // Item
        .detail-photos__item {
          box-shadow: 0 0 1.5rem rgba(#000, 0.3);
        }
      }
    }
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: $default-transition;
  }

  &__pagination {
    bottom: 5rem;
  }
}






/* MAIN
============================================================ */

.detail-main {
  @include container;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5rem;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid $bd-color;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5rem;
    color: $title-color;
    font-size: 2.4rem;
    line-height: (30/24);
  }

  &__price {
    flex-shrink: 0;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: normal;


    // Currency
    & > .currency {
      color: $primary-color;
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    // Value
    & > .value {
      color: $primary-color;
      font-size: 3rem;
      font-weight: 500;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 6.4rem;
  }

  &__sidebar {
    flex-shrink: 0;
    width: 36.6rem;
  }

  &__breadcrumbs {
    display: none;
  }
}






/* CONTENT
============================================================ */

.detail-content {
  flex-grow: 1;
  overflow: hidden;
  margin-right: 3.2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.9rem rgba(#000, 0.28);

  &__container {
  }
}



/* Tabs
------------------------------------ */

.detail-content-tabs {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  background-color: #ebebeb;
  list-style-type: none;

  &__item {
    width: 33.3333%;

    &:last-child {

      // Button
      .detail-content-tabs__btn {
        border-right: 0;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 3.8rem;
    color: $text-color;
    background-color: #ebebeb;
    border: 0;
    border-bottom: 1px solid $bd-color;
    border-right: 1px solid $bd-color;
    border-radius: 0;
    outline: 0;
    font-size: 1.4rem;
    line-height: normal;
    transition: $default-transition;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: darken(#ebebeb, 10%);
    }

    &:active {
      background-color: darken(#ebebeb, 15%);
    }


    // Active state
    &.js-active {
      background-color: #fff;
      border-bottom-color: #fff;
      cursor: default;
    }
  }

  &__icon {
    margin-right: 1rem;
    fill: $title-color;


    // House modifier
    &--house {
      width: 2.5rem;
      height: 2.5rem;
    }

    // Plan modifier
    &--plan {
      width: 2.4rem;
      height: 2.4rem;
    }

    // Location modifier
    &--location {
      width: 1.8rem;
      height: 2.4rem;
    }
  }
}






/* INFO
============================================================ */

.detail-info {
  display: none;
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem;


  // Active state
  &.js-detail-tab-content.js-active {
    display: block;
  }
}



/* Summary
------------------------------------ */

.detail-info-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-left: 0;
  list-style-type: none;

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 1.5rem;
    fill: $title-color;


    // Bed modifier
    &--bed {
      width: 3rem;
      height: 2.4rem;
    }

    // Bath modifier
    &--bath {
      width: 2.8rem;
      height: 2.8rem;
    }

    // Area modifier
    &--area {
      width: 3rem;
      height: 3rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    line-height: (18/14);
  }
}



/* Parameters
------------------------------------ */

.detail-info-parameters {
  overflow: hidden;
  display: flex;
  margin-bottom: 5rem;

  &:last-child {
    margin-bottom: 0;
  }


  &__table {
    margin-right: 3.2rem;
    width: 50%;
    border-collapse: collapse;
    font-size: 1.4rem;
    line-height: (18/14);

    &:last-child {
      margin-right: 0;
    }


    // Cell
    td {
      padding-top: 2.4rem;
      padding-bottom: 0.6rem;
      border-bottom: 1px solid $bd-color;

      &:first-child {
        padding-right: 1.6rem;
      }

      &:last-child {
        font-weight: 700;
      }
    }
  }
}



/* Text
------------------------------------ */

.detail-info-text {
  margin-bottom: 5rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__container {
    @include clear-children-margins;
    font-size: 1.4rem;
    line-height: (18/14);
  }

  &__read-more-btn {
    margin-top: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $text-color;
    border-radius: 0;
    outline: 0;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    transition: $default-transition;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $primary-color;
      border-bottom-color: $primary-color;
    }
  }
}



/* Benefits
------------------------------------ */

.detail-info-benefits {

  &__title {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: (18/14);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    width: 33.3333%;


    // Last 3 items
    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
  }

  &__icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    border: 1px solid $bd-color;
    border-radius: 50%;


    // Icon
    & > .icon {
      width: 1.2rem;
      height: 1rem;
      fill: $title-color;
    }
  }

  &__text {
    font-size: 1.2rem;
    line-height: (14/12);
  }
}






/* AGENT
============================================================ */

.detail-agent {
  margin-bottom: 2rem;
  padding-top: 1.2rem;
  padding-bottom: 2.4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.9rem rgba(#000, 0.28);

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    height: 4.8rem;


    // Example agency modifier
    &--agency-modifier {
      background-color: #57c5bc;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.8rem;


    // Image
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__agent {
    position: absolute;
    top: -3rem;
    right: 0;
    // Above the slider
    z-index: 10;
    width: 8.4rem;
    height: 8.4rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.2rem solid #fff;
    border-radius: 50%;
  }

  &__content {
  }

  &__summary {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 0;
    font-size: 1.4rem;
    line-height: (18/14);
    list-style-type: none;


    // Item
    li {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__view-all {
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
    line-height: (18/14);


    // Link
    a {
      color: $text-color;
      border-bottom: 1px solid $text-color;
      text-decoration: none;
      transition: $default-transition;

      &:hover {
        color: $primary-color;
        border-bottom-color: $primary-color;
      }
    }
  }

  &__actions {
    margin-bottom: 2.2rem;
    padding-bottom: 2.2rem;
    border-bottom: 1px solid #a1a1a1;
  }

  &__btn {
    margin-bottom: 1.6rem;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
  }
}



/* Share
------------------------------------ */

.detail-agent-share {

  &__title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: (18/14);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }

  &__item {
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.8rem;
    height: 3.8rem;
    border: 0.2rem solid $bd-color;
    border-radius: 50%;
    text-decoration: none;
    transition: $default-transition;

    &:hover {
      background-color: $bd-color;

      // Icon
      .detail-agent-share__icon {
        fill: #fff;
      }
    }
  }

  &__icon {
    transition: $default-transition;

    // Facebook modifier
    &--facebook {
      width: 1rem;
      height: 2rem;
      fill: $title-color;
    }

    // LinkedIn modifier
    &--linkedin {
      width: 1.8rem;
      height: 1.8rem;
      fill: $title-color;
    }

    // Whatsapp modifier
    &--whatsapp {
      width: 2rem;
      height: 2rem;
      fill: darken(#25d366, 5%);
    }

    // Email modifier
    &--email {
      width: 2rem;
      height: 1.4rem;
      fill: $title-color;
    }
  }
}






/* SAVE
============================================================ */

.detail-save {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 0;
  box-shadow: 0 0.2rem 0.9rem rgba(#000, 0.28);
  outline: 0;
  transition: $default-transition;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba($primary-color, 0.05);

    // Icon
    .detail-save__icon {
      fill: $primary-color;
    }

    // Text
    .detail-save__text {
      color: $primary-color;
    }
  }

  &:active {
    background-color: rgba($primary-color, 0.1);
  }


  &__icon {
    margin-right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    fill: $title-color;
  }

  &__text {
    font-size: 1.4rem;
    line-height: (18/14);
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 1024px
@include mq($until: mq1024px) {

  // Detail
  .detail {

    &__search {
      display: none;
    }
  }

  // Meta
  .detail-meta {
    padding-top: 3rem;
    padding-bottom: 2rem;

    &__breadcrumbs {
      display: none;
    }
  }

  // Photos
  .detail-photos {
    margin-bottom: 3rem;

    &__pagination {
      bottom: 2.8rem;
    }
  }

  // Main
  .detail-main {
    margin-left: auto;
    margin-right: auto;
    max-width: 76rem;

    &__header {
      display: block;
      margin-bottom: 2.4rem;
    }

    &__title {
      margin-bottom: 1.5rem;
      margin-right: 0;
      font-size: 2rem;
    }

    &__container {
      display: block;
      margin-bottom: 5rem;
    }

    &__sidebar {
      width: 100%;
    }

    &__breadcrumbs {
      display: block;
      margin-bottom: 1.5rem;
    }
  }

  // Content
  .detail-content {
    margin-bottom: 4.6rem;
    margin-right: 0;
  }

  // Agent
  .detail-agent {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  // Share
  .detail-agent-share {
    max-width: 30rem;
  }

}


// Until 940px
@include mq($until: mq940px) {

  // Meta
  .detail-meta {
    padding-top: 2rem;
  }
  
  // Photos
  .detail-photos {

    &__slider {

      // Wrapper
      .swiper-wrapper {
        padding-top: 0;
        padding-bottom: 0;
      }

      // Slide
      .swiper-slide {
        width: 100%;

        // Active state
        &.swiper-slide-active {

          // Item
          .detail-photos__item {
            box-shadow: none;
          }
        }
      }
    }
  }
}


// Until 768px
@include mq($until: mq768px) {

  // Photos
  .detail-photos {

    &__slider {

      // Slide
      .swiper-slide {
        height: 44rem;
      }
    }
  }

}


// Until 568px
@include mq($until: mq568px) {

  // Meta
  .detail-meta {
    padding-top: 1.8rem;
    padding-bottom: 1.6rem;
  }

  // Photos
  .detail-photos {
    margin-bottom: 2.5rem;

    &__slider {

      // Slide
      .swiper-slide {
        height: 34rem;
      }
    }
  }

  // Main
  .detail-main {

    &__header {
      padding-bottom: 1.8rem;
    }

    &__title {
      margin-bottom: 1rem;
      font-size: 1.6rem;
    }

    &__price {
      font-size: 1.6rem;


      // Currency
      & > .currency {
        font-size: 1.2rem;
      }

      // Value
      & > .value {
        font-size: 2.6rem;
      }
    }

    &__container {
      margin-bottom: 4rem;
    }
  }

  // Tabs
  .detail-content-tabs {

    &__btn {
      font-size: 1.3rem;
    }

    &__icon {

      // House modifier
      &--house {
        width: 2rem;
        height: 2rem;
      }

      // Plan modifier
      &--plan {
        width: 2rem;
        height: 2rem;
      }

      // Location modifier
      &--location {
        width: 1.4rem;
        height: 2rem;
      }
    }
  }

  // Info
  .detail-info {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: $pad-desktop;
    padding-right: $pad-desktop;
  }

  // Summary
  .detail-info-summary {
    margin-bottom: 1rem;

    &__item {
      flex-direction: column;
      align-items: center;
    }

    &__icon {
      margin-right: 0;


      // Bed modifier
      &--bed {
        margin-bottom: 1.6rem;
        width: 2.4rem;
        height: 1.8rem;
      }

      // Bath modifier
      &--bath {
        margin-bottom: 1.2rem;
        width: 2.2rem;
        height: 2.2rem;
      }

      // Area modifier
      &--area {
        margin-bottom: 1rem;
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  // Parameters
  .detail-info-parameters {
    display: block;
    margin-bottom: 3rem;

    &__table {
      margin-right: 3.2rem;
      width: 100%;


      // Cell
      td {
        padding-top: 2rem;

        &:first-child {
          padding-right: 1.6rem;
          width: 45%;
        }
      }
    }
  }

  // Text
  .detail-info-text {
    margin-bottom: 3rem;
  }

  // Benefits
  .detail-info-benefits {

    &__title {
      margin-bottom: 2rem;
    }

    &__item {
      margin-bottom: 1.5rem;
      padding-right: 1.5rem;
      width: 50%;


      // Last 3 items
      &:nth-last-child(-n+3) {
        margin-bottom: 1.5rem;
      }

      // Last 2 items
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
  }

  // Agent
  .detail-agent {
    padding-left: $pad-desktop;
    padding-right: $pad-desktop;
  }

  // Share
  .detail-agent-share {
    max-width: none;
  }
  
}


// Until 414px
@include mq($until: mq414px) {

  // Photos
  .detail-photos {

    &__pagination {
      bottom: 2rem;
    }
  }

  // Tabs
  .detail-content-tabs {

    &__btn {
      font-size: 1.2rem;
    }

    &__icon {

      // House modifier
      &--house {
        width: 1.6rem;
        height: 1.6rem;
      }

      // Plan modifier
      &--plan {
        width: 1.6rem;
        height: 1.6rem;
      }

      // Location modifier
      &--location {
        width: 1.2rem;
        height: 1.8rem;
      }
    }
  }

  // Parameters
  .detail-info-parameters {

    &__table {
      font-size: 1.3rem;
    }
  }
  
}


// Until 375px
@include mq($until: mq375px) {

  // Photos
  .detail-photos {

    &__slider {

      // Slide
      .swiper-slide {
        height: 28rem;
      }
    }
  }

  // Tabs
  .detail-content-tabs {

    &__btn {
      font-size: 1.1rem;
    }

    &__icon {
      margin-right: 0.6rem;
    }
  }

  // Info
  .detail-info {
    padding-left: $pad-mobile;
    padding-right: $pad-mobile;
  }

  // Summary
  .detail-info-summary {

    &__icon {

      // Bed modifier
      &--bed {
        margin-top: 0.2rem;
        margin-bottom: 1.2rem;
        width: 2.4rem;
        height: 1.8rem;
      }

      // Bath modifier
      &--bath {
        margin-bottom: 1.2rem;
        width: 2rem;
        height: 2rem;
      }

      // Area modifier
      &--area {
        margin-bottom: 1rem;
        width: 2.2rem;
        height: 2.2rem;
      }
    }

    &__text {
      font-size: 1.2rem;
    }
  }

  // Parameters
  .detail-info-parameters {

    &__table {
      font-size: 1.2rem;
    }
  }

  // Agent
  .detail-agent {
    padding-left: $pad-mobile;
    padding-right: $pad-mobile;
  }

}
