
/*
================================================================================

  "Listings" page

================================================================================
*/

.listings {

  &__container {
    @include container;
    display: flex;
    align-items: flex-start;
    padding-bottom: 5rem;
  }

  &__content {
    flex-grow: 1;
    margin-right: 3.2rem;
  }

  &__inner-container {
    margin-bottom: 4.4rem;
  }

  &__load-more-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26rem;
  }

  &__sidebar {
    flex-shrink: 0;
    width: 30rem;
  }
}






/* HEADER
============================================================ */

.listings-header {
  @include container;
  padding-top: 4rem;
  padding-bottom: 2.4rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__results {
    @include clear-children-margins;
    margin-right: 5rem;
    font-size: 1.4rem;
    line-height: (20/14);
  }

  &__sort-toggle {
    width: auto;
    height: auto;
    display: inline-flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    background-color: rgba($primary-color, 0.1);
    border: 0;
    border-radius: 0.5rem;
    outline: 0;
    transition: $default-transition;
    cursor: pointer;
    color: $primary-color;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    
    & > .options {
        background-color: #fff;
        color: #000;
    }

    &:hover,
    &:focus {
      background-color: rgba($primary-color, 0.1);
    }

    &:active {
      background-color: rgba($primary-color, 0.2);
    }


    // Active state
    &.js-active {

      // Icon
      & > .icon {
        transform: rotate(-180deg) translateZ(0);
      }
    }

    // Icon
    &__icon {
      position: absolute;
      top: 50%;
      right: 1.2rem;
      transform: translateY(-50%) translateZ(0);
      display: block;
      width: 1.2rem;
      height: 0.8rem;
      fill: $primary-color;
    }
    
  }
}

/* Sort
------------------------------------ */

.listings-areas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-top: 2.4rem;
  padding-bottom: 1.9rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  border-radius: 0.8rem;
  background-color: #f4f3f3;


  // Active state
  &.js-expanded {

    // Item
    .listings-areas__item {
      display: block !important;
    }

    // View toggle
    .listings-areas__view-toggle {

      // Icon
      & > .icon {
        transform: rotate(-180deg);
      }
    }
  }


  &__list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1rem;
    margin-right: 5rem;
    padding-left: 0;
    list-style-type: none;
  }

  &__item {
    display: none;
    margin-bottom: 0.5rem;
    padding-right: 2rem;
    width: 25%;

    // First 8 items (two rows)
    &:nth-child(-n+8) {
      display: block;
    }
  }

  &__link {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: $text-color;
    border-bottom: 1px solid transparent;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    line-height: (18/14);
    text-decoration: none;
    transition: $default-transition;

    &:hover,
    &:focus {
      background-color: rgba($primary-color, 0.1);
    }

    &:active {
      background-color: rgba($primary-color, 0.2);
    }


    // City
    & > .city {
      color: $primary-color;
      font-weight: 500;
    }
  }

  &__view-toggle {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    margin-right: -1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    border: 0;
    border-radius: 0.5rem;
    outline: 0;
    transition: $default-transition;
    cursor: pointer;


    &:hover,
    &:focus {
      background-color: rgba($primary-color, 0.1);
    }
    
    &:active {
      background-color: rgba($primary-color, 0.2);
    }


    // Text
    & > .text {
      margin-right: 0.6rem;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: (16/12);
      transition: $default-transition;
    }

    // Icon
    & > .icon {
      width: 1.2rem;
      height: 0.8rem;
      fill: $text-color;
      transition: $default-transition;
    }
  }
}






/* CARD
============================================================ */

.listings-card {
  overflow: hidden;
  margin-bottom: 3.2rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.9rem rgba(#000, 0.39);

  &:last-child {
    margin-bottom: 0;
  }


  &__header {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    height: 4.8rem;


    // Example agency modifier
    &--agency-modifier {
      background-color: #57c5bc;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.8rem;


    // Image
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__container {
    margin-top:1px;
    display: flex;
    box-shadow: 0 -0.3rem 0.3rem rgba(0,0,0,.1);
  }

  &__photos {
    width: 50%;


    // Slide
    .swiper-slide {
      width: 100% !important;
      height: 100% !important;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    width: 50%;
    min-height: 22rem;
  }

  &__agent {
    position: absolute;
    top: -2.4rem;
    right: 1.6rem;
    // Above the content
    z-index: 10;
    width: 7.2rem;
    height: 7.2rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.2rem solid #fff;
    border-radius: 50%;
  }

  &__verified {
    position: absolute;
    bottom: 0;
    right: 0;
    // Above the photos
    z-index: 10;
  }

  &__title {
    margin-bottom: 1.5rem;
    padding-top: 4rem;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: (21/17);


    // Link
    a {
      color: $text-color;
      text-decoration: none;
      transition: $default-transition;

      &:hover {
        color: $bright-pink-color;
      }
    }
  }

  &__location {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: (14/12);
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 3rem;
    width: 100%;
  }

  &__price {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: normal;


    // Currency
    & > .currency {
      color: $bright-pink-color;
      font-size: 1.1rem;
      text-transform: uppercase;
    }

    // Value
    & > .value {
      color: $bright-pink-color;
      font-size: 2.2rem;
      font-weight: 500;
    }
  }

  &__label {
    color: #dfc651;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    line-height: 2.8rem;
  }

  &__summary {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    font-size: 1.4rem;
    line-height: (18/14);
    list-style-type: none;
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 1024px
@include mq($until: mq1024px) {
  
  // Listings
  .listings {

    &__container {
      display: block;
    }

    &__content {
      margin-right: 0;
      width: 100%;
    }

    &__sidebar {
      display: none;
    }
  }

  // Sort
  .listings-areas {

    &__item {
      width: 33.3333%;

      // First 8 items (two rows)
      &:nth-child(-n+8) {
        display: none;
      }

      // First 6 items
      &:nth-child(-n+6) {
        display: block;
      }
    }
  }
  
}


// Until 768px
@include mq($until: mq768px) {

  // Listings
  .listings {

    &__content {
      margin-left: auto;
      margin-right: auto;
      max-width: 40rem;
    }
  }

  // Header
  .listings-header {
    margin-left: auto;
    margin-right: auto;
    max-width: 54rem;
  }

  // Sort
  .listings-areas {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 54rem;

    &__list {
      //justify-content: center;
      margin-bottom: 1rem;
      margin-left: 0;
      margin-right: 0;
    }

    &__item { 
      padding-right: 0;
      width: 50%;

      // First 8 items (two rows)
      &:nth-child(-n+8) {
        display: none;
      }

      // First 6 items
      &:nth-child(-n+6) {
        display: none;
      }

      // First 4 items
      &:nth-child(-n+4) {
        display: block;
      }
    }
  }

  // Card
  .listings-card {

    &__container {
      display: block;
      box-shadow: none;
    }

    &__photos {
      width: 100%;


      // Slide
      .swiper-slide {
        height: 22.4rem !important;
      }
    }

    &__content {
      display: block;
      width: 100%;
      min-height: 0;
    }

    &__agent {
      top: -26rem;
      right: 1.2rem;
    }

    &__title {
      margin-bottom: 1.2rem;
      padding-top: 0;
    }

    &__location {
      margin-bottom: 2rem;
      font-size: 1.2rem;
      line-height: (14/12);
    }
  }

}


// Until 568px
@include mq($until: mq568px) {

  // Header
  .listings-header {
    padding-top: 3rem;

    &__results {
      font-size: 1.3rem;
      line-height: (17/13);
    }
  }

  // Card
  .listings-card {
    box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.25);
  }

}


// Until 414px
@include mq($until: mq414px) {

  // Sort
  .listings-areas {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &__link {
      padding-left: 0.6rem;
      padding-right: 0.6rem;
      font-size: 1.3rem;
    }
  }

}


// Until 375px
@include mq($until: mq375px) {

  // Sort
  .listings-areas {

    &__link {
      padding-left: 0.4rem;
      padding-right: 0.4rem;
      font-size: 1.2rem;
    }
  }

  // Card
  .listings-card {

    &__summary {
      font-size: 1.2rem;
    }
  }

}
