
/*
================================================================================

  "Breadcrumbs" component

================================================================================
*/

.breadcrumbs {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  &__item {
    position: relative;
    display: inline-block;

    &:last-child {

      // Separator
      &::after {
        display: none;
      }
    }


    // Separator
    &::after {
      content: '>';
      padding-left: 0.6rem;
      padding-right: 0.6rem;
      font-size: 1.3rem;
      line-height: (18/13);
    }
  }

  &__link {
    color: $text-color;
    font-size: 1.3rem;
    line-height: (18/13);
    text-decoration: none;
    transition: $default-transition;

    &:hover {
      color: $primary-color;
    }

    &:not([href]) {
      cursor: default;

      &:hover {
        color: $text-color;
      }
    }
  }
}
