
/*
================================================================================

  "Button" component

================================================================================
*/

.btn {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: transparent;
  border: 0;
  border-radius: 0.5rem;
  outline: 0;
  letter-spacing: 0.05rem;
  text-align: center;
  text-decoration: none;
  transition: $default-transition;
  cursor: pointer;


  // Medium modifier
  &--md {
    height: 4.2rem;
    font-size: 2rem;
    line-height: 4.2rem;
  }

  // Extra Small modifier
  &--sm {
    height: 3.8rem;
    font-size: 1.6rem;
    line-height: 3.8rem;
  }

  // Extra Small modifier
  &--xs {
    height: 2.8rem;
    font-size: 1.2rem;
    line-height: 2.8rem;
  }


  // Primary modifier
  &--primary-gradient {
    color: #fff;
    background-image: linear-gradient(-96deg, #613169 0%, #8b4996 100%);

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.2);
    }
  }

  // Primary modifier
  &--primary {
    color: #fff;
    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
    
    &:active {
      background-color: darken($primary-color, 15%);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.2);
    }
  }

  // Green modifier
  &--green {
    color: #fff;
    background-image: linear-gradient(70deg, #6c3 0%, #54be1f 100%);

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(#54be1f, 0.2);
    }
  }
}
