
/*
================================================================================

  "Field" component

================================================================================
*/

.field {


  // Large modifier
  &--lg {

    // Input
    .field__input {
      height: 4.8rem;
    }
  }

  // Medium modifier
  &--md {

    // Input
    .field__input {
      height: 3.8rem;
    }
  }


  // With icon left
  &--with-icon-left {
    position: relative;


    // Input
    .field__input {
      padding-left: 4.2rem;
    }

    // Icon
    .field__icon {
      left: 1.2rem;
    }
  }

  // With icon right
  &--with-icon-right {
    position: relative;


    // Input
    .field__input {
      padding-right: 4.2rem;
    }

    // Icon
    .field__icon {
      right: 1.2rem;
    }
  }


  &__input {
    @include placeholder($title-color);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    width: 100%;
    height: 3.8rem;
    color: $title-color;
    background-color: transparent;
    border: 1px solid $title-color;
    border-radius: 0.5rem;
    outline: 0;
    font-size: 1.6rem;
    line-height: normal;
    transition: $default-transition;
    appearance: none;
    cursor: pointer;

    &:focus {
      border-color: $primary-color;
      box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.2);
    }
  }

  &__textarea {
    @include placeholder($title-color);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    width: 100%;
    height: 12rem;
    color: $title-color;
    background-color: transparent;
    border: 1px solid $title-color;
    border-radius: 0.5rem;
    outline: 0;
    font-size: 1.6rem;
    line-height: normal;
    transition: $default-transition;
    appearance: none;
    resize: none;
    cursor: pointer;

    &:focus {
      border-color: $primary-color;
      box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.2);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateZ(0);
    z-index: 10;


    // Search modifier
    &--search {
      width: 1.8rem;
      height: 1.8rem;
    }


    // Icon
    svg {
      fill: $title-color;
    }
  }
}
