
/*
================================================================================

  "Label" component

================================================================================
*/

.label {
  display: inline-flex;
  align-items: center;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  height: 2.8rem;
  border-radius: 0.5rem;
  background-color: rgba(#000, 0.62);

  &__title {
    margin-right: 0.5rem;
    color: #fff;
    font-size: 1.4rem;
    line-height: normal;
  }

  &__remove-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 1.8rem;
    height: 1.8rem;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    outline: 0;
    transition: $default-transition;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: rgba(#fff, 0.3);
    }

    &:active {
      background-color: rgba(#fff, 0.4);
    }


    // Icon
    svg {
      width: 0.8rem;
      height: 0.8rem;
      fill: #fff;
    }
  }
}
