
/*
================================================================================

  "Mobile Actions" component

================================================================================
*/

.mob-detail-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateZ(0);
  z-index: 50;
  display: none;
  justify-content: space-between;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  padding-left: $pad-desktop;
  padding-right: $pad-desktop;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.7rem rgba(#000, 0.18);

  &__btn {
    margin-right: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    width: calc(33.3333% - 1rem);

    &:last-child {
      margin-right: 0;
    }
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 768px
@include mq($until: mq768px) {

  // Actions
  .mob-detail-actions {
    display: flex;
  }

}


// Until 375px
@include mq($until: mq375px) {

  // Actions
  .mob-detail-actions {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: $pad-mobile;
    padding-right: $pad-mobile;

    &__btn {
      margin-right: 0.6rem;
      width: calc(33.3333% - 0.4rem);
    }
  }

}
