
/*
================================================================================

  "Search" component

================================================================================
*/

.search {
  padding-top: 2rem;
  padding-bottom: 2.8rem;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 100%;
  max-width: 53.4rem;
  background-color: #fff;
  border-radius: 0.6rem;
  box-shadow: 0 0 1.2rem 0.05rem rgba(#000, 0.3);
}






/* TABS
============================================================ */

.search-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-bottom: 0.4rem;
  padding-left: 0;
  border-bottom: 1px solid #e1e1e1;
  list-style-type: none;

  &__item {
  }

  &__btn {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    height: 3rem;
    color: $text-color;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3rem;
    transition: $default-transition;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $primary-color;
    }


    // Active state
    &.js-active {
      cursor: default;

      // Marker
      &::after {
        opacity: 1;
      }
    }


    // Marker
    &::after {
      content: '';
      position: absolute;
      bottom: -0.9rem;
      left: 50%;
      transform: translateX(-50%);
      width: 0.9rem;
      height: 0.9rem;
      background-color: $primary-color;
      border-radius: 50%;
      opacity: 0;
      transition: $default-transition;
    }
  }
}






/* TABS CONTENT
============================================================ */

.search-tabs-content {

  &__section {
    display: none;


    // Active state
    &.js-active {
      display: block;
    }
  }
}






/* FORM
============================================================ */

.search-form {

  &__container {
  }

  &__row {
    display: flex;


    // Field
    .search-form__field {
      margin-right: 1.2rem;
      width: calc(50% - 0.6rem);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__field {
    margin-bottom: 2rem;
    width: 100%;
  }

  &__submit-btn {
    width: 100%;
  }

  &__rooms {
    margin-bottom: 2rem;
  }
}



/* Location
------------------------------------ */

.search-form-location {
  margin-bottom: 2rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-left: 0;
    list-style-type: none;
  }

  &__item {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 568px
@include mq($until: mq568px) {

  // Search
  .search {
    padding-left: $pad-desktop;
    padding-right: $pad-desktop;
    max-width: none;
    border-radius: 0;
    box-shadow: 0 0 0.9rem rgba(#000, 0.18);
  }

  // Form
  .search-form {

    &__container {
      display: none;


      // Visible state
      &.js-visible {
        display: block;
      }
    }
  }

  // Form location
  .search-form-location {

    &__list {
      margin-bottom: 1rem;
    }
  }

}


// Until 375px
@include mq($until: mq375px) {

  // Search
  .search {
    padding-left: $pad-mobile;
    padding-right: $pad-mobile;
  }

  // Form
  .search-form {

    &__field {
      margin-bottom: 1.2rem;


      // Input
      .select__input {
        font-size: 1.4rem;


        // Multi Select input
        & .ms-choice {
          font-size: 1.4rem;
        }

        // Multi Select dropdown
        & .ms-drop {
          font-size: 1.4rem;
        }
      }

      // Icon
      .select__icon {
        right: 0.8rem;
        width: 1.4rem;
        height: 0.8rem;
      }
    }

    &__submit-btn {
      margin-top: 1rem;
    }

    &__rooms {
      margin-bottom: 1.2rem;
    }
  }

  // Form location
  .search-form-location {
    margin-bottom: 1.2rem;

    &__list {
      margin-bottom: 0;
    }
  }

}
