
/*
================================================================================

  "Select" component

================================================================================
*/

.select {
  position: relative;
  background-color: #fff;


  // Large modifier
  &--lg {

    // Input
    .select__input {
      height: 4.8rem;
    }
  }

  // Medium modifier
  &--md {

    // Input
    .select__input {
      height: 3.8rem;
    }
  }


  &__input {
    position: relative;
    // Above the icon
    //z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.2rem;
    padding-right: 4rem;
    width: 100%;
    height: 3.8rem;
    color: $title-color;
    background-color: transparent;
    border: 1px solid $title-color;
    border-radius: 0.5rem;
    outline: 0;
    font-size: 1.6rem;
    line-height: normal;
    transition: $default-transition;
    appearance: none;
    text-indent: -100rem;
    cursor: pointer;

    &:focus {
      border-color: $primary-color;
      box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.2);
    }

    &::-ms-expand {
      display: none;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%) translateZ(0);
    display: block;
    width: 1.6rem;
    height: 1rem;
    fill: $title-color;
  }
}
