<div class="main">
  <app-image-background [moduleTitle]="'Blog Standard'"
    [moduleSubTitle]="'A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.'"
    [backgroundImage]="'assets/images/portfolio/portfolio_header_bg.jpg'">
  </app-image-background>

  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <router-outlet></router-outlet>
        </div>
        <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
          <app-blog-navigation></app-blog-navigation>
        </div>
      </div>
    </div>
  </section>
</div>
