<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Related Projects</h2>
      </div>
    </div>
    <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">
      <li class="work-item illustration webdesign"><a href="portfolio_single_featured_slider1.html">
          <div class="work-image"><img src="assets/images/portfolio/grid-portfolio1.jpg" alt="Portfolio Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Corporate Identity</h3>
            <div class="work-descr">Illustration</div>
          </div>
        </a></li>
      <li class="work-item marketing webdesign"><a href="portfolio_single_featured_video2.html">
          <div class="work-image"><img src="assets/images/portfolio/grid-portfolio6.jpg" alt="Portfolio Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Paper clip</h3>
            <div class="work-descr">Marketing</div>
          </div>
        </a></li>
      <li class="work-item illustration webdesign"><a href="portfolio_single_featured_image2.html">
          <div class="work-image"><img src="assets/images/portfolio/grid-portfolio8.jpg" alt="Portfolio Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Branding</h3>
            <div class="work-descr">Illustration</div>
          </div>
        </a></li>
    </ul>
  </div>
</section>
