<!-- Search -->
<div class="main-search">

  <!-- Container -->
  <div class="main-search__container">

    <!-- Location -->
    <div class="location-results main-search__location-results" *ngIf="resultLocation && resultLocation.length && resultLocation !=''">
      <ul class="location-results__list">
        <li class="location-results__item">
          <div class="label" *ngFor="let option of resultLocation;let i = index;" style="margin-left:2px;margin-top:2px">
            <div class="label__title">{{option}}</div>
              <button class="label__remove-btn" type="button" (click)="removeOption(i)">
                <svg class="icon">
                  <use xlink:href="#icon-close"></use>
                </svg>
              </button>
          </div>
        </li>
      </ul>
    </div>

    <!-- Form -->
    <form class="main-search__form" action="#" method="post">

      <!-- Location -->
      <div class="main-search-location">

        <div class="field field--md main-search-location__field">
          <input class="field__input" name="location" placeholder="Location or building name"
            aria-label="Enter a location or building name" [(ngModel)]="locationSearchValue" autocomplete="off"
            (keyup)="searchLocation($event)">
        </div>

        <button class="main-search-location__submit-btn" type="submit" (click)="searchProperties($event)">
          <svg class="icon">
            <use xlink:href="#icon-search"></use>
          </svg>
        </button>

        <div
          class="{{locationsArray && locationsArray.length > 0 ? 'show' : ''}} options {{locationsArray.length > 0 ? 'dropdown-search' : '' }}">
          <a class="dropdown-item option" *ngFor="let option of locationsArray"
            (click)="addOption(option.slug,option.name)">{{option.name}}<ng-container *ngIf="option.parentString.length"> ({{option.parentString}})</ng-container></a>
        </div>

      </div>

      <!-- Filters button -->
      <button class="main-search__filters-btn " type="button"
        *ngIf="searchForm.listingType === 'COMMERCIAL_SALE' || searchForm.listingType === 'COMMERCIAL_RENT'">
        Filters
        <svg class="icon">
          <use xlink:href="#icon-chevron-down"></use>
        </svg>
      </button>

      <!-- Dropdown -->
      <div class="main-search-dropdown"
        *ngIf="searchForm.listingType === 'COMMERCIAL_SALE' || searchForm.listingType === 'COMMERCIAL_RENT'">

        <!-- Tabs -->
        <ul class="main-search-tabs main-search-tabs--commercial">
          <li class="main-search-tabs__item">
            <button class="main-search-tabs__btn COMMERCIAL_SALE-1 js-active" type="button" tabindex="-1" data-tab="buy"
              (click)="tabChange(3)">
              Commercial Buy
            </button>
          </li>

          <li class="main-search-tabs__item">
            <button class="main-search-tabs__btn COMMERCIAL_RENT-1" type="button" tabindex="0" data-tab="rent"
              (click)="tabChange(2)">
              Commercial Rent
            </button>
          </li>
        </ul>

        <!-- Tabs content -->
        <div class="main-search-tabs-content">

          <!-- Buy -->
          <div class="main-search-tabs-content__section js-active" data-tab="buy">

            <!-- Price min -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select *ngIf="searchForm.listingType==='COMMERCIAL_RENT'" class="select__input js-custom-select"
                  name="min-price" aria-label="Select your minimum price" [(ngModel)]="searchForm.minPrice">
                  <option value="0" selected style="color: grey">Price Min</option>
                  <option *ngFor="let price of pricesRent" value="{{price.value}}">{{price.label}}</option>
                </select>

                <select
                  *ngIf="(searchForm.listingType==='SALE') || (searchForm.listingType==='COMMERCIAL'|| searchForm.listingType==='COMMERCIAL_SALE')"
                  class="select__input js-custom-select" name="min-price" aria-label="Select your minimum price"
                  [(ngModel)]="searchForm.minPrice">
                  <option value="0" selected style="color: grey">Price Min</option>
                  <option *ngFor="let price of pricesSale" value="{{price.value}}">{{price.label}}</option>
                </select>

              </div>
            </div>

            <!-- Price max -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select *ngIf="searchForm.listingType==='COMMERCIAL_RENT'" class="select__input js-custom-select"
                  name="max-price" aria-label="Select your maximum price" [(ngModel)]="searchForm.maxPrice">
                  <option value="0" selected style="color: grey">Price Max</option>
                  <option *ngFor="let price of pricesRent" value="{{price.value}}">{{price.label}}</option>
                </select>

                <select
                  *ngIf="searchForm.listingType==='SALE' || (searchForm.listingType==='COMMERCIAL' || searchForm.listingType==='COMMERCIAL_SALE')"
                  class="select__input js-custom-select" name="max-price" aria-label="Select your maximum price"
                  [(ngModel)]="searchForm.maxPrice">
                  <option value="0" selected style="color: grey">Price Max</option>
                  <option *ngFor="let price of pricesSale" value="{{price.value}}">{{price.label}}</option>
                </select>

              </div>
            </div>

            <!-- Property type -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-custom-select" name="property-type" aria-label="Select a property type"
                  [(ngModel)]="searchForm.unitType">
                  <option value="" selected style="color: grey">Property type</option>
                  <option *ngFor="let unit of unitTypesCommercial" value="{{unit.value}}">{{unit.label}}</option>
                </select>
              </div>
            </div>

            <!-- Amenities -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon" *ngIf="!checkMobile">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select multiple class="select__input mobile-select" *ngIf="checkMobile"
                  name="ametis" aria-label="Select Amenities" [(ngModel)]="searchForm.amenities">
                  <option value="All" class="mobile-all">All</option>
                  <option class="mobile-options" *ngFor="let ameniti of amenities" value="{{ameniti.value}}">
                    {{ameniti.label}}</option>
                    <input type="hidden" value="" name="hiddenAmeniti">
                </select>

                <select *ngIf="!checkMobile" class="select__input js-multiple-select select__input_option" name="ametis"
                  multiple placeholder="Amenities" aria-label="Select Amenities"
                  [(ngModel)]="searchForm.amenities">
                  <option value="" style="color: grey" selected>Select Amenities</option>
                  <option *ngFor="let ameniti of amenities" value="{{ameniti.value}}">{{ameniti.label}}</option>
                  <input type="hidden" value="" name="hiddenAmeniti">
                </select>
              </div>
            </div>

            <!-- Size min -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input" name="min-area" aria-label="Select a Min area"
                  [(ngModel)]="searchForm.minArea">
                  <option value="0" selected style="color: grey">Size Max</option>
                  <option *ngFor="let size of sizes" value="{{size.value}}">{{size.label}}</option>
                </select>
              </div>
            </div>

            <!-- Size max -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input" name="max-area" aria-label="Select a Max area"
                  [(ngModel)]="searchForm.maxArea">
                  <option value="0" selected style="color: grey">Size Min</option>
                  <option *ngFor="let size of sizes" value="{{size.value}}">{{size.label}}</option>
                </select>
              </div>
            </div>

            <!-- Completion status -->
            <div class="main-search-tabs-content__column main-search-tabs-content__column--wide">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>
                <select class="select__input js-custom-select" name="completionStatus" aria-label="Completion status"
                  [(ngModel)]="searchForm.completionStatus">
                  <option value="0" selected style="color: grey">Completion status</option>
                  <option *ngFor="let data of completionStatus" value="{{data.value}}">{{data.label}}</option>
                </select>
              </div>
            </div>

          </div>

          <!-- Rent -->
          <div class="main-search-tabs-content__section" data-tab="rent">

            <!-- Price min -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select *ngIf="searchForm.listingType==='COMMERCIAL_RENT'" class="select__input js-custom-select"
                  name="min-price" aria-label="Select your minimum price" [(ngModel)]="searchForm.minPrice">
                  <option value="0" selected style="color: grey">Price Min</option>
                  <option *ngFor="let price of pricesRent" value="{{price.value}}">{{price.label}}</option>
                </select>

                <select
                  *ngIf="(searchForm.listingType==='SALE') || (searchForm.listingType==='COMMERCIAL'|| searchForm.listingType==='COMMERCIAL_SALE')"
                  class="select__input js-custom-select" name="min-price" aria-label="Select your minimum price"
                  [(ngModel)]="searchForm.minPrice">
                  <option value="0" selected style="color: grey">Price Min</option>
                  <option *ngFor="let price of pricesSale" value="{{price.value}}">{{price.label}}</option>
                </select>
              </div>
            </div>

            <!-- Price max -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>
                <select *ngIf="searchForm.listingType==='COMMERCIAL_RENT'" class="select__input js-custom-select"
                  name="max-price" aria-label="Select your maximum price" [(ngModel)]="searchForm.maxPrice">
                  <option value="0" selected style="color: grey">Price Max</option>
                  <option *ngFor="let price of pricesRent" value="{{price.value}}">{{price.label}}</option>
                </select>

                <select
                  *ngIf="searchForm.listingType==='SALE' || (searchForm.listingType==='COMMERCIAL' || searchForm.listingType==='COMMERCIAL_SALE')"
                  class="select__input js-custom-select" name="max-price" aria-label="Select your maximum price"
                  [(ngModel)]="searchForm.maxPrice">
                  <option value="0" selected style="color: grey">Price Max</option>
                  <option *ngFor="let price of pricesSale" value="{{price.value}}">{{price.label}}</option>
                </select>
              </div>
            </div>

            <!-- Property type -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>
                <select class="select__input js-custom-select" name="property-type" aria-label="Select a property type"
                  [(ngModel)]="searchForm.unitType">
                  <option value="" selected style="color: grey">Property type</option>
                  <option *ngFor="let unit of unitTypesCommercial" value="{{unit.value}}">{{unit.label}}</option>
                </select>
              </div>
            </div>

            <!-- Amenities -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon" *ngIf="!checkMobile">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>
                <select multiple class="select__input mobile-select mobile-select" *ngIf="checkMobile"
                  name="ametis" aria-label="Select Amenities" [(ngModel)]="searchForm.amenities">
                  <option value="All" class="mobile-all">All</option>
                  <option class="mobile-options" *ngFor="let ameniti of amenities" value="{{ameniti.value}}">
                    {{ameniti.label}}</option>
                    <input type="hidden" value="" name="hiddenAmeniti">
                </select>

                <select *ngIf="!checkMobile" class="select__input js-multiple-select select__input_option" name="ametis"
                  multiple placeholder="Amenities" aria-label="Select Amenities"
                  [(ngModel)]="searchForm.amenities">
                  <option value="" style="color: grey" selected>Select Amenities</option>
                  <option *ngFor="let ameniti of amenities" value="{{ameniti.value}}">{{ameniti.label}}</option>
                  <input type="hidden" value="" name="hiddenAmeniti">
                </select>
              </div>
            </div>

            <!-- Size min -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input" name="min-area" aria-label="Select a Min area"
                  [(ngModel)]="searchForm.minArea">
                  <option value="0" selected style="color: grey">Size Min</option>
                  <option *ngFor="let size of sizes" value="{{size.value}}">{{size.label}}</option>
                </select>

              </div>
            </div>

            <!-- Size max -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>
                <select class="select__input" name="max-area" aria-label="Select a Max area"
                  [(ngModel)]="searchForm.maxArea">
                  <option value="0" selected style="color: grey">Size Max</option>
                  <option *ngFor="let size of sizes" value="{{size.value}}">{{size.label}}</option>
                </select>
              </div>
            </div>

            <!-- Monthly/Yearly -->
            <div class="main-search-tabs-content__column main-search-tabs-content__column--wide">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>
                <select class="select__input js-custom-select" name="rentalLength" aria-label="Select a rentalLength"
                  [(ngModel)]="searchForm.rentalLength">
                  <option value="0" selected style="color: grey">Monthly/Yearly</option>
                  <option *ngFor="let data of rentalLength" value="{{data.value}}">{{data.label}}</option>
                </select>
              </div>
            </div>

          </div>

        </div>

        <!-- Footer -->
        <footer class="main-search-dropdown__footer">
          <button class="btn btn--sm btn--primary main-search-dropdown__submit-btn"
            (click)="searchProperties($event)">Search</button>
          <button class="main-search-dropdown__clear-btn main-search-actions__btn--clear" type="button"
            (click)="clearForm(searchForm.listingType)">Clear filters</button>
          <button class="main-search-dropdown__close-btn" type="button">
            Close
            <svg class="icon">
              <use xlink:href="#icon-chevron-down"></use>
            </svg>
          </button>
        </footer>

      </div>

      <!-- Check for filter when listing type not COMMERCIAL_SALE and COMMERCIAL_RENT -->

      <!-- Filters button -->
      <button class="main-search__filters-btn" type="button"
        *ngIf="searchForm.listingType !== 'COMMERCIAL_SALE' && searchForm.listingType !== 'COMMERCIAL_RENT'">
        Filters
        <svg class="icon">
          <use xlink:href="#icon-chevron-down"></use>
        </svg>
      </button>

      <!-- Dropdown -->
      <div class="main-search-dropdown"
        *ngIf="searchForm.listingType !== 'COMMERCIAL_SALE' && searchForm.listingType !== 'COMMERCIAL_RENT'">

        <!-- Tabs -->
        <ul class="main-search-tabs">
          <li class="main-search-tabs__item" (click)="tabChange(1)">
            <button class="main-search-tabs__btn SALE-1 js-active" type="button" tabindex="-1"
              data-tab="buy">Buy</button>
          </li>

          <li class="main-search-tabs__item" (click)="tabChange(0)">
            <button class="main-search-tabs__btn RENT-1" type="button" data-tab="rent">Rent</button>
          </li>

          <li class="main-search-tabs__item">
            <button class="main-search-tabs__btn SOLD-1" type="button" data-tab="sold">Sold</button>
          </li>
        </ul>

        <!-- Tabs content -->
        <div class="main-search-tabs-content">

          <!-- Buy -->
          <div class="main-search-tabs-content__section js-active" data-tab="buy">

            <!-- Price min -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select *ngIf="searchForm.listingType==='RENT'" class="select__input js-custom-select" name="min-price"
                  aria-label="Select your minimum price" [(ngModel)]="searchForm.minPrice">
                  <option value="0" selected style="color: grey">Price min</option>
                  <option *ngFor="let price of pricesRent" value="{{price.value}}">{{price.label}}</option>
                </select>

                <select
                  *ngIf="searchForm.listingType==='SALE' || (searchForm.listingType==='COMMERCIAL' || searchForm.listingType==='COMMERCIAL_RENT' || searchForm.listingType==='COMMERCIAL_SALE')"
                  class="select__input js-custom-select" name="min-price" aria-label="Select your minimum price"
                  [(ngModel)]="searchForm.minPrice">
                  <option value="0" selected style="color: grey">Price min</option>
                  <option *ngFor="let price of pricesSale" value="{{price.value}}">{{price.label}}</option>
                </select>

              </div>
            </div>

            <!-- Price max -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select *ngIf="searchForm.listingType==='RENT'" class="select__input  js-custom-select" name="max-price"
                  aria-label="Select your maximum price" [(ngModel)]="searchForm.maxPrice">
                  <option value="0" selected style="color: grey">Price max</option>
                  <option *ngFor="let price of pricesRent" value="{{price.value}}">{{price.label}}</option>
                </select>

                <select
                  *ngIf="searchForm.listingType==='SALE' || (searchForm.listingType==='COMMERCIAL' || searchForm.listingType==='COMMERCIAL_RENT' || searchForm.listingType==='COMMERCIAL_SALE')"
                  class="select__input js-custom-select" name="max-price" aria-label="Select your maximum price"
                  [(ngModel)]="searchForm.maxPrice">
                  <option value="0" selected style="color: grey">Price max</option>
                  <option *ngFor="let price of pricesSale" value="{{price.value}}">{{price.label}}</option>
                </select>

              </div>
            </div>

            <!-- Property type -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input" name="property-type" aria-label="Select a property type"
                  data-placeholder="Property type" [(ngModel)]="searchForm.unitType">
                  <option value="" selected style="color: grey">Property type</option>
                  <option *ngFor="let unit of unitTypes" value="{{unit.value}}">{{unit.label}}</option>
                </select>

              </div>
            </div>

            <!-- Amenities -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon" *ngIf="!checkMobile">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select multiple class="select__input mobile-select" *ngIf="checkMobile"
                  name="ametis" aria-label="Select Amenities" [(ngModel)]="searchForm.amenities">
                  <option value="All" class="mobile-all">All</option>
                  <option class="mobile-options" *ngFor="let ameniti of amenities" value="{{ameniti.value}}">
                    {{ameniti.label}}</option>
                    <input type="hidden" value="" name="hiddenAmeniti">
                </select>

                <select *ngIf="!checkMobile" class="select__input js-multiple-select select__input_option" name="ametis"
                  multiple placeholder="Amenities" aria-label="Select Amenities"
                  [(ngModel)]="searchForm.amenities">
                  <option value="" style="color: grey" selected>Select Amenities</option>
                  <option *ngFor="let ameniti of amenities" value="{{ameniti.value}}">{{ameniti.label}}</option>
                  <input type="hidden" value="" name="hiddenAmeniti">
                </select>

              </div>
            </div>

            <!-- Bed min -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-custom-select" name="minBed" aria-label="Select Bedrooms"
                  [(ngModel)]="searchForm.minBed">
                  <option value="0" style="color: grey" selected>Bedrooms min</option>
                  <option *ngFor="let min of minBed" value="{{min.value}}">{{min.label}}</option>
                </select>

              </div>
            </div>

            <!-- Bed max -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-custom-select" name="maxBed" aria-label="Select Bedrooms"
                  [(ngModel)]="searchForm.maxBed">
                  <option value="0" style="color: grey" selected>Bedrooms max</option>
                  <option *ngFor="let max of maxBed" value="{{max.value}}">{{max.label}}</option>
                </select>
              </div>
            </div>

            <!-- Size min -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input" name="min-area" aria-label="Select a Min area"
                  [(ngModel)]="searchForm.minArea">
                  <option value="0" selected style="color: grey">Min Area</option>
                  <option *ngFor="let size of sizes" value="{{size.value}}">{{size.label}}</option>
                </select>
              </div>
            </div>

            <!-- Size max -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input max-area-input" name="max-area" aria-label="Select a Max area"
                  [(ngModel)]="searchForm.maxArea">
                  <option value="0" selected style="color: grey">Max Area</option>
                  <option *ngFor="let size of sizes" value="{{size.value}}">{{size.label}}</option>
                </select>
              </div>
            </div>

            <!-- Completion status -->
            <div class="main-search-tabs-content__column main-search-tabs-content__column--wide">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-custom-select" name="completionStatus" aria-label="Completion status"
                  [(ngModel)]="searchForm.completionStatus">
                  <option value="0" selected style="color: grey">Completion status</option>
                  <option *ngFor="let data of completionStatus" value="{{data.value}}">{{data.label}}</option>
                </select>
              </div>
            </div>

          </div>

          <!-- Rent -->
          <div class="main-search-tabs-content__section" data-tab="rent">

            <!-- Price min -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select *ngIf="searchForm.listingType==='RENT'" class="select__input" name="min-price"
                  aria-label="Select your minimum price" [(ngModel)]="searchForm.minPrice">
                  <option value="0" selected style="color: grey">Price min</option>
                  <option *ngFor="let price of pricesRent" value="{{price.value}}">{{price.label}}</option>
                </select>

                <select
                  *ngIf="searchForm.listingType==='SALE' || (searchForm.listingType==='COMMERCIAL' || searchForm.listingType==='COMMERCIAL_RENT' || searchForm.listingType==='COMMERCIAL_SALE')"
                  class="select__input" name="min-price" aria-label="Select your minimum price"
                  [(ngModel)]="searchForm.minPrice">
                  <option value="0" selected style="color: grey">Price min</option>
                  <option *ngFor="let price of pricesSale" value="{{price.value}}">{{price.label}}</option>
                </select>

              </div>
            </div>

            <!-- Price max -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select *ngIf="searchForm.listingType==='RENT'" class="select__input" name="max-price"
                  aria-label="Select your maximum price" [(ngModel)]="searchForm.maxPrice">
                  <option value="0" selected style="color: grey">Price max</option>
                  <option *ngFor="let price of pricesRent" value="{{price.value}}">{{price.label}}</option>
                </select>

                <select
                  *ngIf="searchForm.listingType==='SALE' || (searchForm.listingType==='COMMERCIAL' || searchForm.listingType==='COMMERCIAL_RENT' || searchForm.listingType==='COMMERCIAL_SALE')"
                  class="select__input" name="max-price" aria-label="Select your maximum price"
                  [(ngModel)]="searchForm.maxPrice">
                  <option value="0" selected style="color: grey">Price max</option>
                  <option *ngFor="let price of pricesSale" value="{{price.value}}">{{price.label}}</option>
                </select>

              </div>
            </div>

            <!-- Property type -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input" name="property-type" aria-label="Select a property type"
                  data-placeholder="Property type" [(ngModel)]="searchForm.unitType">
                  <option value="" selected style="color: grey">Property type</option>
                  <option *ngFor="let unit of unitTypes" value="{{unit.value}}">{{unit.label}}</option>
                </select>
              </div>
            </div>

            <!-- Amenities -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon" *ngIf="!checkMobile">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>
                <select multiple class="select__input mobile-select" *ngIf="checkMobile" name="ametis"
                  aria-label="Select Amenities" [(ngModel)]="searchForm.amenities">
                  <option value="All" class="mobile-all">All</option>
                  <option class="mobile-options" *ngFor="let ameniti of amenities" value="{{ameniti.value}}">
                    {{ameniti.label}}</option>
                    <input type="hidden" value="" name="hiddenAmeniti">
                </select>

                <select *ngIf="!checkMobile" class="select__input js-multiple-select select__input_option" name="ametis"
                  multiple aria-label="Select Amenities" placeholder="Amenities"
                  [(ngModel)]="searchForm.amenities">
                  <option value="" style="color: grey" selected>Select Amenities</option>
                  <option *ngFor="let ameniti of amenities" value="{{ameniti.value}}">{{ameniti.label}}</option>
                  <input type="hidden" value="" name="hiddenAmeniti">
                </select>
              </div>
            </div>

            <!-- Bed min -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-custom-select" name="minBed" aria-label="Select Bedrooms"
                  [(ngModel)]="searchForm.minBed">
                  <option value="0" style="color: grey" selected>Bedrooms min</option>
                  <option *ngFor="let min of minBed" value="{{min.value}}">{{min.label}}</option>
                </select>
              </div>
            </div>

            <!-- Bed max -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-custom-select" name="maxBed" aria-label="Select Bedrooms"
                  [(ngModel)]="searchForm.maxBed">
                  <option value="0" style="color: grey" selected>Bedrooms max</option>
                  <option *ngFor="let max of maxBed" value="{{max.value}}">{{max.label}}</option>
                </select>
              </div>
            </div>

            <!-- Size min -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input" name="min-area" aria-label="Select a Min area"
                  [(ngModel)]="searchForm.minArea">
                  <option value="0" selected style="color: grey">Size min</option>
                  <option *ngFor="let size of sizes" value="{{size.value}}">{{size.label}}</option>
                </select>
              </div>
            </div>

            <!-- Size max -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input max-area-input" name="max-area" aria-label="Select a Max area"
                  [(ngModel)]="searchForm.maxArea">
                  <option value="0" selected style="color: grey">Size max</option>
                  <option *ngFor="let size of sizes" value="{{size.value}}">{{size.label}}</option>
                </select>
              </div>
            </div>

            <!-- Yearly -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-custom-select" name="rentalLength" aria-label="Select a rentalLength"
                  [(ngModel)]="searchForm.rentalLength">
                  <option value="0" selected style="color: grey">Monthly/Yearly</option>
                  <option *ngFor="let data of rentalLength" value="{{data.value}}">{{data.label}}</option>
                </select>
              </div>
            </div>

            <!-- Furnishings -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input" name="furnishing" aria-label="Select a furnishing"
                  data-placeholder="Furnishing" [(ngModel)]="searchForm.furnishing">
                  <option value="">Furnishings</option>
                  <option *ngFor="let fur of furnished" value="{{fur.value}}">{{fur.label}}</option>
                </select>
              </div>
            </div>

          </div>

          <!-- Sold -->
          <div class="main-search-tabs-content__section" data-tab="sold">

            <!-- Price min -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-custom-select" name="price-min" data-placeholder="Price min">
                  <option value="1">Value 1</option>
                  <option value="2">Value 2</option>
                  <option value="3">Value 3</option>
                  <option value="4">Value 4</option>
                  <option value="5">Value 5</option>
                </select>
              </div>
            </div>

            <!-- Price max -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-custom-select" name="price-max" data-placeholder="Price max">
                  <option value="1">Value 1</option>
                  <option value="2">Value 2</option>
                  <option value="3">Value 3</option>
                  <option value="4">Value 4</option>
                  <option value="5">Value 5</option>
                </select>
              </div>
            </div>

            <!-- Property type -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-custom-select" name="property-type" data-placeholder="Property type">
                  <option value="1">Value 1</option>
                  <option value="2">Value 2</option>
                  <option value="3">Value 3</option>
                  <option value="4">Value 4</option>
                  <option value="5">Value 5</option>
                </select>
              </div>
            </div>

            <!-- Amenities -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-multiple-select" name="amenities" multiple placeholder="Amenities">
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="4">Option 4</option>
                  <option value="5">Option 5</option>
                  <option value="6">Option 6</option>
                  <option value="7">Option 7</option>
                  <option value="8">Option 8</option>
                  <option value="9">Option 9</option>
                  <option value="10">Option 10</option>
                </select>
              </div>
            </div>

            <!-- Bed min -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-custom-select" name="bed-min" data-placeholder="Bed min">
                  <option value="1">Value 1</option>
                  <option value="2">Value 2</option>
                  <option value="3">Value 3</option>
                  <option value="4">Value 4</option>
                  <option value="5">Value 5</option>
                </select>
              </div>
            </div>

            <!-- Bed max -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-custom-select" name="bed-max" data-placeholder="Bed max">
                  <option value="1">Value 1</option>
                  <option value="2">Value 2</option>
                  <option value="3">Value 3</option>
                  <option value="4">Value 4</option>
                  <option value="5">Value 5</option>
                </select>
              </div>
            </div>

            <!-- Size min -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-custom-select" name="size-min" data-placeholder="Size min">
                  <option value="1">Value 1</option>
                  <option value="2">Value 2</option>
                  <option value="3">Value 3</option>
                  <option value="4">Value 4</option>
                  <option value="5">Value 5</option>
                </select>
              </div>
            </div>

            <!-- Size max -->
            <div class="main-search-tabs-content__column">
              <div class="select select--md select--with-border">
                <svg class="select__icon">
                  <use xlink:href="#icon-chevron-down"></use>
                </svg>

                <select class="select__input js-custom-select" name="size-max" data-placeholder="Size max">
                  <option value="1">Value 1</option>
                  <option value="2">Value 2</option>
                  <option value="3">Value 3</option>
                  <option value="4">Value 4</option>
                  <option value="5">Value 5</option>
                </select>
              </div>
            </div>

          </div>

        </div>

        <!-- Footer -->
        <footer class="main-search-dropdown__footer">
          <button class="btn btn--sm btn--primary main-search-dropdown__submit-btn"
            (click)="searchProperties($event)">Search</button>
          <button class="main-search-dropdown__clear-btn" type="button"
            (click)="clearForm(searchForm.listingType)">Clear filters</button>
          <button class="main-search-dropdown__close-btn" type="button">
            Close
            <svg class="icon">
              <use xlink:href="#icon-chevron-down"></use>
            </svg>
          </button>
        </footer>

      </div>

    </form>

  </div>

</div>
