/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/utils/variables";
@import "./assets/sass/vendor/magnific-popup";
@import "./assets/sass/vendor/swiper";
@import './assets/sass/vendor/custom-select';
@import './assets/sass/vendor/multiple-select';


@import "./assets/sass/utils/mixins/mixins-form";
@import "./assets/sass/utils/mixins/mixins-grid";
@import "./assets/sass/utils/mixins/mixins-text";

@import "./assets/sass/base/breakpoints";
@import "./assets/sass/base/general";
@import "./assets/sass/base/normalize";

@import "./assets/sass/layout/footer";
@import "./assets/sass/layout/header";

@import "./assets/sass/components/breadcrumbs";
@import "./assets/sass/components/btn";
@import "./assets/sass/components/field";
@import "./assets/sass/components/icon";
@import "./assets/sass/components/label";
@import "./assets/sass/components/main-search";
@import "./assets/sass/components/mob-detail-actions";
@import "./assets/sass/components/rooms-selector";
@import "./assets/sass/components/search";
@import "./assets/sass/components/select";
@import "./assets/sass/components/slider-nav-btn";
@import "./assets/sass/components/verified";

@import "./assets/sass/components/popups/email-popup";
@import "./assets/sass/components/sections/featured";
@import "./assets/sass/components/sections/guides";
@import "./assets/sass/components/sections/news";
@import "./assets/sass/components/sections/popular-search";
@import "./assets/sass/components/sections/trending";

@import "./assets/sass/pages/detail";
// @import "./assets/sass/pages/home";
@import "./assets/sass/pages/listings";
@import "./assets/sass/components/location-results";
@import "./assets/sass/components/new-search";
@import "./assets/sass/components/sections/popular";
@import "./assets/sass/pages/home/new-home-hero";

button:focus {
  outline: none !important ;
}
a.nav__link {
  cursor: pointer;
}
