
/*
================================================================================

  "Home Hero" section

================================================================================
*/

.new-home-hero {
    @include no-shrink;
    padding-top: 9rem;
    padding-bottom: 10rem;
    background-image: url('assets/img/pages/home/new-home-marina-darker.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
      @include container;
    }

    &__header {
      margin-bottom: 5rem;
      text-align: center;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 60rem;
      color: #fff;
      font-size: 4.8rem;
      font-weight: 500;
      letter-spacing: 0.01rem;
      line-height: (56/48);
    }

    &__body {
      margin-left: auto;
      margin-right: auto;
      max-width: 70rem;
    }
  }






  /* ================================================================================
     RESPONSIVENESS
  ================================================================================ */

  // Until 768px
  @include mq($until: mq768px) {

    // Hero
    .new-home-hero {
      padding-top: 7rem;
      padding-bottom: 9rem;

      &__header {
        margin-bottom: 4rem;
      }

      &__title {
        font-size: 4.4rem;
        letter-spacing: 0;
      }

      &__body {
        max-width: 48rem;
      }
    }

  }


  // Until 568px
  @include mq($until: mq568px) {

    // Hero
    .new-home-hero {
      padding-top: 7rem;
      padding-bottom: 9rem;

      &__header {
        margin-bottom: 4rem;
      }

      &__title {
        font-size: 3.8rem;
      }

      &__body {
        max-width: 48rem;
      }
    }

  }


  // Until 414px
  @include mq($until: mq414px) {

    // Hero
    .new-home-hero {
      padding-top: 6rem;
      padding-bottom: 8rem;

      &__header {
        margin-bottom: 3rem;
      }

      &__title {
        max-width: 28rem;
        font-size: 3.4rem;
      }

    }

  }


  // Until 375px
  @include mq($until: mq375px) {

    // Hero
    .new-home-hero {

      &__title {
        font-size: 3rem;
      }

    }

  }
