
/*
================================================================================

  "Guides" section

================================================================================
*/

.guides {
  @include no-shrink;
  margin-bottom: 7rem;

  &__container {
    @include container;
  }

  &__header {
    margin-bottom: 1.5rem;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    color: $title-color;
    font-size: 2rem;
    font-weight: 500;
    line-height: (24/20);
  }

  &__slider {


    // Container
    &.swiper-container {
      padding-left: 1rem !important;
      padding-right: 1rem !important;


      .slider-nav-btn--prev {
        left: 0;
      }

      .slider-nav-btn--next {
        right: 0;
      }
    }

    // Wrapper
    & > .swiper-wrapper {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}






/* CARD
============================================================ */

.guides-card {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17.6rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.8rem rgba(#000, 0.3);
  text-decoration: none;


  // Overlay
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(#fff, 0.4);
  }


  &__title {
    position: relative;
    // Above the overlay
    z-index: 11;
    color: $text-color;
    background-color: #ebebeb;
    border: 1.3rem solid #fff;
    opacity: 0.85;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.4rem;
    text-transform: uppercase;
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 1024px
@include mq($until: mq1024px) {

  // Guides
  .guides {

    &__container {
      padding-left: 0;
      padding-right: 0;
    }

    &__header {
      padding-left: $pad-desktop;
      padding-right: $pad-desktop;
    }

    &__slider {

      // Container
      &.swiper-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: $pad-desktop !important;
        padding-right: $pad-desktop !important;
        width: 100% !important;
      }

      // Nav buttons
      .slider-nav-btn {
        display: none !important;
      }
    }
  }

  // Card
  .news-card {
    height: 36rem;
  }

}


// Until 568px
@include mq($until: mq568px) {

  // Guides
  .guides {
    margin-bottom: 5rem;
  }

}


// Until 375px
@include mq($until: mq375px) {

  // Guides
  .guides {
    margin-bottom: 4rem;

    &__header {
      padding-left: $pad-mobile;
      padding-right: $pad-mobile;
    }
  }

  // Card
  .guides-card {

    &__title {
      border: 0.8rem solid #fff;
      font-size: 1.6rem;
      line-height: 2.8rem;
    }
  }

}
