
/*
================================================================================

  "News" section

================================================================================
*/

.news {
  @include no-shrink;
  margin-bottom: 7rem;

  &__container {
    @include container;
  }

  &__header {
    margin-bottom: 2.5rem;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    color: $title-color;
    font-size: 2rem;
    font-weight: 500;
    line-height: (24/20);
  }

  &__slider {


    // Container
    &.swiper-container {
      overflow: hidden !important;
      margin-left: -1rem !important;
      margin-right: -1rem !important;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      width: calc(100% + 2rem) !important;
    }

    // Wrapper
    & > .swiper-wrapper {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}






/* CARD
============================================================ */

.news-card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 46rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0.2rem 0.8rem rgba(#000, 0.3);

  &__content {
    padding-top: 1.6rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #fff;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: (24/18);
  }

  &__desc {
    @include clear-children-margins;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: (16/12);
  }

  &__read-more {
    display: inline-block;
    color: $text-color;
    border-bottom: 1px solid $text-color;
    font-size: 1.2rem;
    line-height: (16/12);
    text-decoration: none;
    transition: $default-transition;

    &:hover {
      color: $primary-color;
      border-bottom-color: $primary-color;
    }
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 1024px
@include mq($until: mq1024px) {

  // News
  .news {

    &__container {
      padding-left: 0;
      padding-right: 0;
    }

    &__header {
      padding-left: $pad-desktop;
      padding-right: $pad-desktop;
    }

    &__slider {

      // Container
      &.swiper-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: $pad-desktop !important;
        padding-right: $pad-desktop !important;
        width: 100% !important;
      }
    }
  }

  // Card
  .news-card {
    height: 36rem;
  }

}


// Until 568px
@include mq($until: mq568px) {

  // News
  .news {
    margin-bottom: 5rem;
  }

}


// Until 375px
@include mq($until: mq375px) {

  // News
  .news {
    margin-bottom: 4rem;

    &__header {
      padding-left: $pad-mobile;
      padding-right: $pad-mobile;
    }
  }

}
