
/*
================================================================================

  "Popular Searches" section

================================================================================
*/

.popular-search {
  @include no-shrink;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f8f8f8;

  &__container {
    @include container;
  }

  &__header {
    margin-bottom: 2.5rem;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    color: $title-color;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: (18/16);
    text-transform: uppercase;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }

  &__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6rem;
    line-height: (24/16);

    &:last-child {
      &::after {
        display: none;
      }
    }


    // Separator
    &::after {
      content: '/';
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  &__link {
    color: $text-color;
    text-decoration: none;
    transition: $default-transition;

    &:hover {
      color: $primary-color;
    }
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 768px
@include mq($until: mq768px) {

  // Popular search
  .popular-search {
    text-align: center;

    &__item {
      display: block;
      margin-bottom: 1.2rem;

      &:last-child {
        margin-bottom: 0;
      }

      // Separator
      &::after {
        display: none;
      }
    }
  }

}
